.dest22-destination-content {
  --len-box-side-padding: 24px;
  --len-aside-side-padding: 24px;
  font-family: var(--ff-the-antiqua-b);
  font-size: var(--fs-main-text);
  line-height: 1.5;
  color: var(--c-text-color);
  width: 100%;
  position: relative;
  padding: 0 var(--len-box-side-padding);

  @media screen and (max-width: 1200px) {
    --len-aside-side-padding: 20px;
  }

  @media screen and (max-width: 800px) {
    --len-aside-side-padding: 16px;
  }

  @media screen and (max-width: 480px) {
    --len-aside-side-padding: 8px;
  }
}

.dest22-destination-content img {
  position: relative;
  left: calc(-1 * var(--len-box-side-padding));
  width: calc(100% + 2 * var(--len-box-side-padding));
  max-width: unset;
  margin: var(--len-box-side-padding) 0;
}

.dest22-destination-content aside {
  width: 100%;
  max-width: calc(10 * 16px);
  float: right;
  right: calc(-1 * var(--len-aside-side-padding));
  margin: var(--len-aside-side-padding);
  margin-right: 0;
  position: relative;
  
  img {
    position: unset;
    left: unset;
    width: unset;
    margin: unset;
    max-width: 100%;
  }
}
