/* .lm-app-wrapper * {
  margin: 0;
  padding: 0;
} */

body {
  --len-h-and-p-default-margin: inherit;
  --bs-lm-app-elements-box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: var(--len-h-and-p-default-margin);
}

* {
  box-sizing: var(--bs-lm-app-elements-box-sizing);
}

/* App root */
.lm-app-wrapper {
  font-family: initial;
  font-size: var(--l-rem);
  line-height: 1.25;
  color: initial;
}

.lm-app {
  --len-h-and-p-default-margin: 0;
  --bs-lm-app-elements-box-sizing: border-box;
  font-size: 1.6rem; /* REM is set to 10px by lemonde.fr */
  box-sizing: var(--bs-lm-app-elements-box-sizing);
  font-family: 'Times New Roman', Times, serif;
}