.dest22-destination-opener {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 400ms;
  transform: rotateZ(0deg);
}

.dest22-destination-opener.dest22-destination-opener_opened {
  transform: rotateZ(90deg);
}

.dest22-destination-opener .lm-svg {
  height: 32px;
}

.dest22-destination-opener .lm-svg .background {
  fill: transparent;
}

.dest22-destination-opener .lm-svg .fill-1 {
  fill: var(--c-icon-bg);
}

.dest22-destination-opener .lm-svg .stroke-1 {
  fill: var(--c-icon-border);
}