.mondial-footer {
  --mondial-footer-aspect-ratio: 3/5;
  --mondial-footer-columns: 1fr 1fr;
  --mondial-footer-padding-top: 28px;
  --mondial-footer-padding-left: 56px;
  font-family: var(--ff-marr-sans-condensed);
  display: grid;
  justify-items: center;
  max-width: 800px;
  padding: 0 36px;
  margin: 0 auto;

  @media screen and (min-width: 500px) {
    --mondial-footer-aspect-ratio: 3/2;
    --mondial-footer-columns: 1fr 1fr 1fr 1fr;
    --mondial-footer-padding-top: 56px;
  }

  * {
    z-index: 1;
  }

  &__marker {
    @media screen and (max-width: 600px) {
      width: 90px;
    }
  }

  &__title {
    text-transform: uppercase;
    color: var(--mondial-main-color);
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 32px 0 22px 0;

    @media screen and (min-width: 600px) {
      font-size: 40px;
      line-height: 42px;
    }
  }

  &__container {
    display: grid;
    justify-items: center;
    align-items: center;
    aspect-ratio: var(--mondial-footer-aspect-ratio);
    width: 100%;
    overflow: hidden;

    >* {
      grid-area: -1 / 1;
    }

    &__gradient {
      height: calc(100% - var(--mondial-footer-padding-top) * 2);
      width: calc(100% - var(--mondial-footer-padding-left) * 2);
      display: grid;
      overflow: hidden;

      >* {
        grid-area: 1 / -1;
      }

      @media screen and (max-width: 500px) {
        width: calc(100% - var(--mondial-footer-padding-left) * 1);
        justify-self: end;
      }
    }

    &__circle {
      align-self: flex-start;
      position: relative;
      top: 32px;
      width: 100%;
      height: 0;
      z-index: 0;

      &_overlay {
        width: calc((100% + var(--mondial-footer-padding-left) * 2));
        max-width: unset;
        top: calc((32px - var(--mondial-footer-padding-top)));
        left: calc((-1 * var(--mondial-footer-padding-left)));
        mix-blend-mode: overlay;
        z-index: 1;
      }

      @media screen and (min-width: 0px) {
        width: 92%;

        &_overlay {
          width: calc((100% + var(--mondial-footer-padding-left) * 2) * 0.92);
          left: calc((-1 * var(--mondial-footer-padding-left)) * 0.92 + 4%);
        }
      }

      @media screen and (max-width: 500px) {
        justify-self: flex-start;
        left: 24px;
        width: 200%;
        max-width: unset;

        &_overlay {
          width: calc(200% + var(--mondial-footer-padding-left) * 2);
          left: calc((-1 * var(--mondial-footer-padding-left)) + 24px);
        }
      }
    }

    &__players {
      display: grid;
      justify-items: center;
      grid-template-columns: var(--mondial-footer-columns);
      grid-template-rows: 1fr 0;
      aspect-ratio: var(--mondial-footer-aspect-ratio);

      img {
        max-width: unset;
        height: 100%;
      }
    }
  }
}