.mondial-footer {
  font-family: var(--ff-marr-sans);
  max-width: 950px;
  margin: 0 auto;

  a {
    display: grid;
    justify-items: center;
  }

  .mondial-button {
    z-index: 10;
  }

  * {
    z-index: 1;
  }

  &__marker {
    width: 220px;

    @media (prefers-color-scheme: dark) {
      svg {
        fill: #fff;
      }
    }

    @media (min-width: 600px) {
      width: 140px;
    }
  }

  &__title {
    color: var(--c-mondial-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin: 16px 32px;

    @media (prefers-color-scheme: dark) {
      color: #fff;
    }

    @media screen and (min-width: 600px) {
      font-size: 32px;
      margin: 62px 0 42px 0;
    }
  }

  &__container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

    >* {
      grid-area: -1 / 1;
    }

    @media (hover: hover) {
      &:hover {
        .mondial-footer__overlay {
          opacity: 0.4;
        }
      }
    }
  }

  &__overlay {
    height: 100%;
    width: 100%;
    background-color: var(--c-mondial-blue);
    opacity: 0;
    transition: opacity 200ms;
  }

  &__gradient {
    height: 100%;
    width: 100%;
  }

  &__image {
    img {
      max-width: 100%;
    }
  }
}