.frag-wide-icono__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.frag-wide-icono__video {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
}

.frag-wide-icono_fade-video .frag-wide-icono__video {
  opacity: 0;
  animation: videofade 600ms ease-in 200ms 1 forwards;
}

@keyframes videofade {
  from { opacity: 0; }
  to { opacity: 1; }
}
