.mondial-circle {
  height: auto;
  stroke-width: 40px;
  max-width: 100%;

  circle {
    stroke-dasharray: var(--mondial-circle-length);
    // pour cacher la suture à l'anim
    transform: rotate(90deg);
    transform-origin: center;

    @media screen and (min-width: 900px) {
      stroke-width: 30px;
    }
  }
}

@keyframes animateCircleIn {
  0% {
    stroke-dashoffset: var(--mondial-circle-length);
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animateCircleOut {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: var(--mondial-circle-length);
  }
}