.dest22-destination-link {
  display: flex;
  align-items: center;

  a {
    font-family: var(--ff-marr-sans);
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    margin-right: 8px;
  }
}
