.prn-sticky-header {
  background-color: transparent;
  padding: 16px;
}

.prn-sticky-header .lm-svg {
  height: 20px;
}

.prn-sticky-header .lm-svg .background {
  fill: transparent;
}

.prn-sticky-header .lm-svg .fill-1 {
  fill: #8D98AB;
}

.prn-sticky-header .lm-svg .fill-2 {
  fill: #FFFFFF;
}
