.mondial-guide-cover {
  display: grid;
  height: 100%;
  justify-items: center;

  >* {
    grid-area: 1/-1;
  }

  &__container {
    position: relative;
    width: 100%;
    display: grid;
    justify-items: center;

    >* {
      grid-area: 1/-1;
    }
  }

  &__shape {
    position: absolute;
    z-index: 1;
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &_desktop {
      display: none;
    }

    &_mobile {
      display: block;
    }

    @media screen and (min-width: 1100px) {
      &_desktop {
        display: block;
      }

      &_mobile {
        display: none;
      }
    }
  }

  &__gradient {
    width: 100%;
  }

  &__home-container {
    max-width: 960px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1440px) {
      max-width: 1280px;
    }
  }

  &__gradient {
    z-index: 1;
  }

  &__home-container {
    z-index: 3;
  }

  &__home-grid {
    height: 100%;
    width: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto;
    grid-column-gap: 0.4em;
    grid-row-gap: 0;

    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr auto calc(50% + 45px);
      grid-column-gap: 0.6em;
      grid-row-gap: 20px;
    }

    .lm-article-header {
      grid-column: 1;
      width: fit-content;
      padding: 0;
      padding-left: 16px;
      padding-top: 16px;

      @media screen and (min-width: 800px) {
        padding-left: 0;
        grid-column: 3;
      }
    }
  }

  &__title {
    width: 100%;
    font-family: var(--ff-marr-sans-condensed);
    font-size: 11vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 90%;
    display: contents;

    >span {
      display: contents;

      span:first-child {
        grid-column: 1;
        text-align: right;
      }

      span:nth-child(2) {
        position: relative;
        font-size: 38%;
        line-height: 1.4em;
        grid-column: 1;
        align-self: flex-start;
        text-align: right;
      }

      span:last-child {
        text-align: left;
      }
    }

    @media screen and (min-width: 800px) {
      font-size: 6vw;

      >span {
        span:nth-child(2) {
          font-size: 25%;
          align-self: auto;
          grid-column: 2;
          top: 46.5%;
          text-align: center;
        }
      }
    }
  }

  &__intro {
    grid-column: span 2;
    font-family: var(--ff-marr-sans);
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    text-shadow: 1px 0px 4px rgba(5, 7, 35, 0.60);
    padding: 24px 48px 20vh 24px;

    @media screen and (min-width: 800px) {
      padding: 0;
      grid-column: 3;
      padding: 0 48px 20vh 0;
    }
  }

  .mondial-gradient__grain {
    mix-blend-mode: soft-light;
    opacity: 1;
  }
}

@keyframes titleBack {
  from {
    transform: translateY(-1000px)
  }

  to {
    transform: translateY(0)
  }
}

@keyframes titleOut {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(-1000px)
  }
}