.frag-wide-fragments {
  position: relative;
}

.frag-wide-fragments__fragment-icono {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2000;
  opacity: 1;
  background: green;
  transition: opacity 600ms, height 0ms;
}

.frag-wide-fragments__fragment-icono_inactive {
  opacity: 0;
  height: 0%;
  transition: opacity 600ms 600ms, height 2ms 600ms;
}

.frag-wide-fragments__fragment-slot {
  position: relative;
  height: calc(100 * var(--vh));
}
