.mondial-group__tab {
  p {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 10%;
  }

  &_default {
    border-bottom: 2px solid var(--mondial-main-color);

    p {
      padding: 4px 18px;
      background-color: var(--mondial-main-color);
      display: inline-block;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: calc(0.1 * 25px);

      @media screen and (min-width: 900px) {
        font-size: 28px;
        letter-spacing: calc(0.1 * 32px);
      }
    }
  }

  &_navbar {
    border-bottom: 0.5px solid #fff;

    p {
      font-weight: 300;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: calc(0.1 * 17px);
      padding-bottom: 2px;
    }
  }
}