.dest22-destination {
  background-color: var(--c-content-bg);
}

.dest22-destination__head {
  position: relative;
  width: var(--len-destination-window-max-width);
  max-width: var(--len-destination-window-width);
}
