.wrapper {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
}

.wrapper button {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-family: var(--ff-heading);
  font-weight: 600;
}
