.lm-highlighted-text {
  position: relative;
  left: var(--len-highlight-offset);
}

.lm-highlighted-text__inner {
  position: relative;
  display: inline;
  background-color: var(--c-highlight);
  box-shadow: 0 0 0 var(--len-highlight-offset) var(--c-highlight);
}
