.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.word {
  opacity: 0;
  filter: blur(0.5px);
  transition: opacity 1000ms, filter 1000ms;
}

.word--visible {
  opacity: 1;
  filter: blur(0);
}
