.multimediaNav {
  display: none !important;
}

.fraude-slider {
  position: relative;
  width: 100%;
  height: calc(100 * var(--vh) - var(--nav-height));
  overflow: hidden;
}

.fraude-slider__logo {
  position: relative;
  z-index: 2;

  .lm-article-header {
    padding-top: 0;
    padding-left: 16px;

    @media screen and (max-width: 800px) {
      padding-left: 8px;

      .lm-article-header__logo {
        max-width: 66px;
      }
    }
  }
}

.fraude-slider__progression-bar {
  width: calc(100% - 32px);
  height: 3px;
  position: relative;
  z-index: 2;
  display: flex;
  margin: 8px 16px;
}

.fraude-slider__progression-bar-slot {
  width: 100%;
  height: 100%;
  background-color: #E2DBD0;
  border-radius: 4px;
  transition: background-color 200ms;

  &+.fraude-slider__progression-bar-slot {
    margin-left: 2px;
  }
}

@media screen and (max-width: 800px) {
  .fraude-slider__progression-bar {
    width: calc(100% - 8px);
    height: 2px;
    margin: 4px;
  }

  .fraude-slider__progression-bar-slot {
    &+.fraude-slider__progression-bar-slot {
      margin-left: 1px;
    }
  }
}


.fraude-slider__progression-bar-slot.fraude-slider__progression-bar-slot_dark {
  background-color: #A69B8B;
}

.fraude-slider__progression-bar-inner {
  height: 100%;
  position: relative;
  background-color: #383F4E;
  transition: width 200ms;
}

.fraude-slider__slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.fraude-slider__slide_passed,
.fraude-slider__slide_current {
  display: block;
  z-index: 1;
}

.fraude-slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 200ms;

  svg {
    height: 16px;
    width: 10px;
  }

  &::before {
    display: block;
    content: "";
    height: 44px;
    width: 44px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    border: 1px solid #A69B8B;
  }

  @media screen and (max-width: 800px) {
    svg {
      height: 8px;
      width: 5px;
    }

    &::before {
      height: 22px;
      width: 22px;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}

.fraude-slider__arrow_prev {
  padding: 100px 100px 100px 32px;
  left: 0;

  &::before {
    left: 16px;
  }

  @media screen and (max-width: 800px) {
    padding: 100px 100px 100px 16px;

    &::before {
      left: 8px;
    }
  }
}

.fraude-slider__arrow_next {
  padding: 100px 32px 100px 100px;
  right: 0;

  &::before {
    right: 16px;
  }

  @media screen and (max-width: 800px) {
    padding: 100px 16px 100px 100px;

    &::before {
      right: 8px;
    }
  }
}