.fraude-slider {
  position: relative;
  width: 100%;
  height: calc(100 * var(--vh) - var(--nav-height));
  overflow: hidden;
  --prog-bar-height: 8px;
}

.fraude-slider__progression-bar {
  width: 100%;
  height: var(--prog-bar-height);
  background-color: #FFFFFF;
  position: relative;
}

.fraude-slider__progression-bar-inner {
  height: 100%;
  position: relative;
  background-color: #383F4E;
  transition: width 200ms;
}

.fraude-slider__slide {
  display: none;
  position: absolute;
  top: var(--prog-bar-height);
  left: 0;
  width: 100%;
  height: calc(100% - var(--prog-bar-height));
  background-color: #FFFFFF;
}

.fraude-slider__slide_passed,
.fraude-slider__slide_current {
  display: block;
}

.fraude-slider__arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.fraude-slider__arrow_prev {
  left: 24px;
}

.fraude-slider__arrow_next {
  right: 24px;
}
