.photos22-image-block__wrapper {
  position: relative;
  margin: 0 auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--len-photo-block-margin-bottom);

  &::before {
    content: 'loader placeholder';
    color: white;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
  }

  .photos22-image-block {
    position: relative;
    width: 100%;
  }

  .lm-img {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  &.photos22-image-block__wrapper_ratio-pano {
    width: 100%;
    max-width: 1440px;
  }

  &.photos22-image-block__wrapper_ratio-landscape {
    width: 100%;
    max-width: 1440px;
  }

  &.photos22-image-block__wrapper_ratio-square {
    width: 66%;
    max-width: 980px;
  }

  &.photos22-image-block__wrapper_ratio-portrait {
    width: 50%;
  }

  &.photos22-image-block__wrapper_ratio-strip {
    width: 40%;
  }

  @media screen and (max-width: 800px) {

    &.photos22-image-block__wrapper_ratio-pano,
    &.photos22-image-block__wrapper_ratio-landscape,
    &.photos22-image-block__wrapper_ratio-square,
    &.photos22-image-block__wrapper_ratio-portrait,
    &.photos22-image-block__wrapper_ratio-strip {
      width: 100%;
    }

    // .photos22-image-block__image_ratio-pano,
    // .photos22-image-block__image_ratio-landscape,
    // .photos22-image-block__image_ratio-square,
    // .photos22-image-block__image_ratio-portrait,
    // .photos22-image-block__image_ratio-strip {
    //   max-height: calc(80 * var(--vh));
    // }
  }

  .photos22-image-block__text {
    flex-shrink: 10;
    flex-grow: 0;
    max-width: 980px;
    color: var(--c-main-text);
    font-family: var(--ff-marr-sans);
    font-weight: 500;
    font-size: var(--fs-descriptions-text);
    line-height: 1.45;
    align-self: flex-start;
    display: inline-block;

    @media screen and (max-width: 800px) {
      padding: 0 var(--len-content-main-side-padding);
    }
  }

  .photos22-image-block__credits {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .05em;
    font-size: .80em;
  }
}

.photos22-image-block__wrapper:last-child {
  .photos22-image-block {
    margin-bottom: 0;
  }
}





// .photos22-image-block {
//   position: relative;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   margin-bottom: var(--len-photo-block-margin-bottom);
// }

// .photos22-image-block:last-child {
//   margin-bottom: 0;
// }

// .photos22-image-block__inner {
//   position: relative;
//   padding: 0 16px;

//   @media screen and (max-width: 800px) {
//     padding: 0;
//   }
// }

// .photos22-image-block__image {
//   margin-bottom: var(--len-photo-margin-bottom);
// }

// .photos22-image-block__image_ratio-pano {
//   max-height: calc(80 * var(--vh));
// }

// .photos22-image-block__image_ratio-landscape {
//   max-height: calc(90 * var(--vh));
// }

// .photos22-image-block__image_ratio-square {
//   max-height: calc(100 * var(--vh));
// }

// .photos22-image-block__image_ratio-portrait {
//   max-height: calc(110 * var(--vh));
// }

// .photos22-image-block__image_ratio-strip {
//   max-height: calc(120 * var(--vh));
// }

// @media screen and (max-width: 800px) {
//   .photos22-image-block__image_ratio-pano,
//   .photos22-image-block__image_ratio-landscape,
//   .photos22-image-block__image_ratio-square,
//   .photos22-image-block__image_ratio-portrait,
//   .photos22-image-block__image_ratio-strip {
//     max-height: calc(80 * var(--vh));
//   }
// }

// .photos22-image-block__text {
//   color: var(--c-main-text);
//   padding: 0 var(--len-content-main-side-padding);
//   font-family: var(--ff-marr-sans);
//   font-weight: 500;
//   font-size: var(--fs-descriptions-text);
// }

// .photos22-image-block__credits {
//   text-transform: uppercase;
//   font-weight: 100;
//   letter-spacing: .05em;
//   font-size: .80em;
// }
