.lm-paginator {
  position: relative;
  overflow: hidden;

  .lm-paginator__threshold-area {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .9);
  }

  &.lm-paginator_self-rooted {
    .lm-paginator__threshold-area {
      position: absolute;
    }
  }

  &.lm-paginator_window-rooted {
    .lm-paginator__threshold-area {
      position: fixed;
    }
  }

  .lm-paginator__threshold-bar {
    z-index: 2;
  }

  &.lm-paginator_horizontal {
    .lm-paginator__threshold-bar {
      position: absolute;
      width: 2px;
      top: 0;
      bottom: 0;
      left: var(--threshold-offset);
      transform: translateX(-50%);
      background-color: red;
    }
  }

  &.lm-paginator_vertical {
    .lm-paginator__threshold-bar {
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      top: var(--threshold-offset);
      transform: translateY(-50%);
      background-color: red;
    }
  }

  .lm-paginator__scrollable-area {
    position: relative;
    z-index: 1;
    opacity: .5;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;

    > .lm-paginator-page {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  &.lm-paginator_self-rooted {
    .lm-paginator__scrollable-area {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &.lm-paginator_horizontal {
    .lm-paginator__scrollable-area {
      flex-direction: row;

      > .lm-paginator-page {
        height: 100%;
      }
    }
  }

  &.lm-paginator_vertical {
    .lm-paginator__scrollable-area {
      flex-direction: column;

      > .lm-paginator-page {
        width: 100%;
      }
    }
  }
}