.illus21-read-also {
  font-size: 14px;
  line-height: 1.5;
  color: #A4A9B4;
  color: var(--current-text-2-color);
  transition: color var(--illus21-color-transition-duration);
  font-weight: 500;
  font-family: var(--ff-marr-sans);
  display: flex;

  @media screen and (max-width: 1200px) {
    font-size: 13px;
  }

  @media screen and (max-width: 800px) {
    font-size: 12px;
  }

  .illus21-read-also__arrow {
    margin-right: 4px;
    display: block;
  }

  .illus21-read-also__link {
    text-decoration: underline;
  }
}
