.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: var(--ff-statement);
  padding: 4rem;
  padding-bottom: 8rem;
  font-size: 16px;
}

.wrapper strong {
  font-weight: 600;
}

.outro,
.credits {
  max-width: calc(48 * 16px);
}

.outro {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.outro__image {
  display: inline-block;
  height: 7.2rem;
  width: auto;
  flex-shrink: 0;
  flex-grow: 0;
  margin-bottom: 4rem;
}

.outro__text {
  display: inline-block;
  flex-shrink: 1;
  flex-grow: 0;
}

@media screen and (max-width: 40rem) {
  .wrapper {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .outro {
    flex-direction: row;
    margin-bottom: 4rem;
  }
  .outro__image {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 30rem) {
  .wrapper {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.credit {
  margin-bottom: 2rem;
}

.credit__details {
  margin-top: 1rem;
  font-size: 14px;
}
