.fraude-slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--fraude-background-color);
  color: #383F4E;
  font-family: var(--ff-marr-sans);

  b {
    font-weight: 600;
  }

  ul {
    padding-left: 1em;

    li {
      list-style-type: square;

      &+li {
        margin-top: 4px;
      }
    }
  }
}

.fraude-slide__background {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fraude-slide__background.fraude-slide__background_mask {
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.fraude-slide__inner {
  width: 100%;
  max-width: 608px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 52px;

  em {
    margin: 0 .5em;
    background-color: #fff;
    box-shadow: .4em 0 0 #fff, -.4em 0 0 #fff;
    padding: .175em 0;
    font-style: normal;
    font-weight: 600;
  }
}

.fraude-slide__inner.fraude-slide__inner_background {
  justify-content: center;

  span {
    margin: 0 .5em;
    background-color: #fff;
    box-shadow: .4em 0 0 #fff, -.4em 0 0 #fff;
    padding: .175em 0;
    font-style: normal;
    font-weight: 600;
  }
}

.fraude-slide__text {
  z-index: 1;
  padding: 0 28px;
}

.fraude-slide__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 2;
  margin-bottom: 42px;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.fraude-slide__title_bottom {
  position: absolute;
  margin-bottom: 0;
  bottom: 52px;
}

.fraude-slide__label {
  font-weight: 600;
  font-size: 24px;
  line-height: 2;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 30%;

  @media screen and (max-width: 800px) {
    font-size: 18px;
  }
}

.fraude-slide__para-1,
.fraude-slide__para-2 {
  font-family: var(--ff-the-antiqua-b);
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 24px;
  flex-grow: 0;
  flex-shrink: 0;

  a {
    cursor: pointer;
    text-decoration: underline;
    transition: opacity 200ms;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.2em;

    &:hover {
      opacity: 0.6;
    }
  }

  b {
    font-weight: 800;
  }

  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

.fraude-slide__illus {
  position: absolute;
  height: calc(100% - 52px);
  min-height: calc(100% - 52px);
  max-width: 100%;
  object-fit: contain;
  object-position: bottom;
}