.dro-slide {
  width: var(--len-slide-width);
  height: var(--len-slide-height);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .dro-slide {
    padding: 32px;
  }
}

@media screen and (max-width: 800px) {
  .dro-slide {
    padding: 32px;
  }
}

.lm-app-wrapper_vpd-sm .dro-slide__lg-illus,
.lm-app-wrapper_vpd-xs .dro-slide__lg-illus,
.lm-app-wrapper_vpd-sm .dro-slide__md-illus,
.lm-app-wrapper_vpd-xs .dro-slide__md-illus {
  display: none;
}

.lm-app-wrapper_vpd-md .dro-slide__sm-illus,
.lm-app-wrapper_vpd-md .dro-slide__lg-illus {
  display: none;
}

.lm-app-wrapper_vpd-lg .dro-slide__sm-illus,
.lm-app-wrapper_vpd-xl .dro-slide__sm-illus,
.lm-app-wrapper_vpd-lg .dro-slide__md-illus,
.lm-app-wrapper_vpd-xl .dro-slide__md-illus {
  display: none;
}

.dro-slide > * {
  width: 100%;
  max-width: 784px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1200px) {
  .dro-slide > * {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .dro-slide > * {
    margin-bottom: 16px;
  }
}

.dro-slide__illus+.dro-slide__illus-title,
.dro-slide__illus-title+.dro-slide__illus-legend,
.dro-slide__illus+.dro-slide__illus-legend {
  margin-top: -8px;
}

.dro-slide__quote+.dro-slide__quote-legend {
  margin-top: 8px;
}

.dro-slide__title {
  position: relative;
  padding: 48px;
  max-width: calc(50 * var(--len-rem));
  width: unset;
}

@media screen and (max-width: 1200px) {
  .dro-slide__title {
    padding: 36px;
  }
}

@media screen and (max-width: 800px) {
  .dro-slide__title {
    padding: 16px;
  }
}

.dro-slide__title-bg {
  mix-blend-mode: multiply;
  position: absolute;
  background-color: var(--c-title-bg); /* Defined via js */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dro-slide__title-content {
  font-family: var(--ff-marr-sans-condensed);
  font-size: var(--len-title-font-size); /* Defined via js */
  line-height: var(--len-title-line-height); /* Defined via js */
  font-weight: 800;
  text-align: center;
  position: relative;
  color: var(--c-title); /* Defined via js */
  z-index: 2;
}

.dro-slide__title-subtext-content {
  position: relative;
  font-size: var(--len-title-subtext-font-size); /* Defined via js */
  line-height: var(--len-title-subtext-line-height); /* Defined via js */
  color: var(--c-title-subtext); /* Defined via js */
  z-index: 3;
  text-align: center;
  font-family: var(--ff-marr-sans);
  font-weight: 500;
}

.dro-slide__illus {
  width: auto;
  height: auto;
  max-height: 40%;
  max-width: 100%;
}

.dro-slide__illus-title {
  font-family: var(--ff-marr-sans);
  font-size: var(--len-illustration-title-font-size); /* Defined via js */
  line-height: var(--len-illustration-title-line-height); /* Defined via js */
  color: var(--c-illustration-title); /* Defined via js */
  font-weight: 600;
}

.dro-slide__illus-legend {
  font-family: var(--ff-marr-sans);
  font-size: var(--len-illustration-legend-font-size); /* Defined via js */
  line-height: var(--len-illustration-legend-line-height); /* Defined via js */
  color: var(--c-illustration-legend); /* Defined via js */
}

.dro-slide__exergue {
  font-family: var(--ff-marr-sans);
  font-size: var(--len-exergue-font-size); /* Defined via js */
  line-height: var(--len-exergue-line-height); /* Defined via js */
  font-weight: 600;
  color: var(--c-exergue); /* Defined via js */
}

.dro-slide__exergue em {
  color: var(--c-exergue-em); /* Defined via js */
  font-style: normal;
}

.dro-slide__paragraph {
  font-size: var(--len-paragraph-font-size); /* Defined via js */
  line-height: var(--len-paragraph-line-height); /* Defined via js */
  font-family: var(--ff-marr-sans);
  font-weight: 500;
  color: var(--c-paragraph); /* Defined via js */
}

.dro-slide__paragraph em {
  font-style: normal;
  background-color: var(--c-paragraph-em-bg); /* Defined via js */
  box-shadow: 0 0 0 2px var(--c-paragraph-em-bg); /* Defined via js */
  
}

.dro-slide__quote {
  font-family: var(--ff-the-antiqua-b);
  font-size: var(--len-quote-font-size); /* Defined via js */
  line-height: var(--len-quote-line-height); /* Defined via js */
  font-weight: 700;
  font-style: italic;
  color: var(--c-quote); /* Defined via js */
}

.dro-slide__quote-legend {
  font-family: var(--ff-marr-sans);
  font-size: var(--len-quote-legend-font-size); /* Defined via js */
  line-height: var(--len-quote-legend-line-height); /* Defined via js */
  color: var(--c-quote-legend); /* Defined via js */
}
