.frag-home {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.frag-home_visibility-true {
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms 10ms, visibility 400ms;
}

.frag-home_visibility-false {
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms, visibility 10ms 400ms;
}

.frag-home__images {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frag-home__images-left {
  width: 50%;
  height: 100%;
  background: linear-gradient(#e66465, #9198e5);
  position: relative;
}

.frag-home__images-right {
  width: 50%;
  height: 100%;
  background: linear-gradient(#9198e5, #e66465);
  position: relative;
}

.frag-home__images-mobile {
  display: none;
  height: 50%;
  width: 100%;
  position: relative;
  background: linear-gradient(chocolate, yellow);
}

@media screen and (max-width: 1200px) {
  .frag-home__images {
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .frag-home__images-left,
  .frag-home__images-right {
    display: none;
  }

  .frag-home__images-mobile {
    display: block;
  }
}

.frag-home__image-slot {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.frag-home__image-slot_active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0ms, opacity 200ms 1ms;
}

.frag-home__image-slot_inactive {
  opacity: 0;
  visibility: hidden;
  transition: opacity 600ms, visibility 0ms 600ms;
}


@keyframes frag-home-image-animation {
  0% { opacity: 0; }
  to { opacity: 1; }
}

.frag-home__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 180px;
  background-color: hotpink;
}

.frag-home__logo svg .cls-1 {
  fill: red;
}