.frag-home {
  top: 0;
  left: 0;
  right: 0;
  height: calc(100 * var(--vh));
}

.frag-home_visibility-true {
  opacity: 1;
  height: calc(100 * var(--vh));
  transition: opacity 400ms;
}

.frag-home_visibility-false {
  opacity: 0;
  height: 0;
  transition: opacity 400ms, height 3ms 600ms;
}

.frag-home__images {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frag-home__images-left {
  width: 50%;
  height: 100%;
  position: relative;
}

.frag-home__images-right {
  width: 50%;
  height: 100%;
  position: relative;
}

.frag-home__images-mobile {
  display: none;
  height: 50%;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .frag-home__images {
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .frag-home__images-left,
  .frag-home__images-right {
    display: none;
  }

  .frag-home__images-mobile {
    display: block;
  }
}

.frag-home__image-slot {
  position: absolute;
  width: 100%;
  height: 100%;
}

.frag-home__image-slot_active {
  opacity: 1;
  visibility: visible;
  transition: visibility 0ms, opacity 400ms 1ms;
}

.frag-home__image-slot_inactive {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0ms 1s;
}

.frag-home__image-slot-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.frag-home__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100 * var(--vw) - 80px);
  max-width: 700px;
}

.frag-home__logo svg path {
  fill: #2A303C;
}

.frag-home_visibility-true .frag-home__logo svg path {
  transition: opacity 200ms;
}

.frag-home_visibility-false .frag-home__logo svg path {
  transition: opacity 0;
}