.photos21-home {
  width: 100%;
  height: calc(100 * var(--vh) - var(--nav-height));
  background-color: var(--c-page-bg);
}

.photos21-home__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1200ms;
}

.photos21-home__image.photos21-home__image_to-come {
  opacity: 0;
}

.photos21-home__image.photos21-home__image_current {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .15);
}

.photos21-home__title {
  position: absolute;
  bottom: 56px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--c-main-text);
  text-align: center;
}

.photos21-home__title-line-1 {
  font-size: var(--fs-home-title-line-1);
  font-weight: 600;
  font-family: var(--ff-marr-sans-condensed);
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 1;
  flex-shrink: 0;
}

.photos21-home__title-line-2 {
  font-size: var(--fs-home-title-line-2);
  font-weight: 400;
  font-family: var(--ff-the-antiqua-b);
  margin-bottom: 32px;
  line-height: 1;
  flex-shrink: 0;
}

.photos21-home__chevron svg {
  width: 22px;
}

.photos21-home__chevron svg .background {
  fill: transparent;
}

.photos21-home__chevron svg .fill-1 {
  fill: var(--c-main-text);
  opacity: .8;
}
