.frag-intro__paragraph {
  position: fixed;
  font-family: var(--ff-the-antiqua-b);
  font-size: 20px;
  line-height: 30px;
  max-width: calc(100 * var(--vw) - 32px);
  width: 928px;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.frag-intro__paragraph-chunk {
  color: #717B8E;
  transition: color 200ms;
}

.frag-intro__paragraph-chunk:last-child {
  color: #2A303C;
}

.frag-intro__scrollable-background {
  width: 100%;
  z-index: 1;
}

.frag-intro__fragment-wrapper {
  height: calc(100 * var(--vh));
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frag-intro__fragment-image {
  position: relative;
  transition: background-color 200ms;
  /* background-color: violet; */
}
