.photos21-intro {
  width: 100%;
  background-color: #121618;
  padding: 24px;
}

.photos21-intro__inner {
  max-width: 720px;
  margin: 88px auto;
  font-family: var(--ff-the-antiqua-b);
  color: #E2E4E9;
  font-size: 18px;
  line-height: 1.5;

  @media screen and (max-width: 800px) {
    margin: 48px auto;
    font-size: 16px;
  }
}

.photos21-intro__inner p {
  margin-bottom: 1.5em;
}