.frag-intro__paragraph {
  position: fixed;
  font-family: var(--ff-the-antiqua-b);
  font-size: 20px;
  line-height: 1.5;
  max-width: calc(100 * var(--vw) - 32px);
  width: 928px;
  top: calc(50px + 10 * var(--vh));
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .frag-intro__paragraph {
    font-size: 17px;
  }
}

@media screen and (max-width: 800px) {
  .frag-intro__paragraph {
    font-size: 14px;
    top: calc(40px + 5 * var(--vh));
  }
}

.frag-intro__paragraph_visibility-true {
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms 10ms, visibility 400ms;
}

.frag-intro__paragraph_visibility-false {
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms, visibility 10ms 400ms;
}

.frag-intro__paragraph-chunk {
  color: #717B8E;
  transition: color 200ms;
}

.frag-intro__paragraph-chunk:last-child {
  color: #2A303C;
}

.frag-intro__scrollable-background {
  width: 100%;
  z-index: 1;
}

.frag-intro__image-slot {
  height: calc(150 * var(--vh));
  position: relative;
}

.frag-intro__image-slot-inner {
  position: relative;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frag-intro__image-wrapper {
  position: relative;
}

.frag-intro__image-wrapper .lm-intersection-observer {
  position: relative;
  width: 100%;
  height: 100%;
}

.frag-intro__image-image {
  position: relative;
  height: 100%;
  width: auto;
  transition: opacity 600ms;
}

.frag-intro__end-block {
  height: 10px;
  background-color: red;
}
