<<<<<<< HEAD
.dest22-intro {
  position: relative;
  width: 100%;
  height: calc(100 * var(--vh) - var(--nav-height));
  font-weight: 900;
  background: black;
  // color: transparent;
  // background-origin: padding-box;
  // background-image: url('https://img-19.ccm2.net/cI8qqj-finfDcmx6jMK6Vr-krEw=/1500x/smart/b829396acc244fd484c5ddcdcb2b08f3/ccmcms-commentcamarche/20494859.jpg');
  // background-clip: text;
  // -webkit-background-clip: text;
  // background-attachment: fixed;
  // background-size: cover;
  // background-position: center;
  
  .dest22-intro__title {
    font-size: 84px;
    line-height: 1.5;
    color: white;

    svg {
      height: 1em;
      transform: translateY(22%);
      path {
        fill: white;
      }
    }
  }
}
=======
.photos21-intro {
  width: 100%;
  background-color: var(--c-page-bg);
  padding: 0 var(--len-content-main-side-padding);
  padding-top: var(--len-intro-padding-top);
  padding-bottom: var(--len-intro-padding-bottom);
}

.photos21-intro__inner {
  max-width: 720px;
  margin: 0 auto;
  font-family: var(--ff-the-antiqua-b);
  color: var(--c-main-text);
  font-size: var(--fs-main-text);
  line-height: 1.5;
}

.photos21-intro__inner p {
  margin-bottom: 1.5em;
}

.photos21-intro__inner p:last-child {
  margin-bottom: 0;
}
>>>>>>> master
