.photos21-intro {
  width: 100%;
  background-color: var(--c-page-bg);
  padding: 0 var(--len-content-main-side-padding);
}

.photos21-intro__inner {
  max-width: 720px;
  padding: 88px 0;
  margin: 0 auto;
  font-family: var(--ff-the-antiqua-b);
  color: var(--c-main-text);
  font-size: var(--fs-main-text);
  line-height: 1.5;

  @media screen and (max-width: 800px) {
    padding: 48px 0;
  }
}

.photos21-intro__inner p {
  margin-bottom: 1.5em;
}