/*
 * Defined in index.tsx:
 *
 * --fixed-blocks-height
 * --scrolling-block-height
 * --bg-color-transition-duration
 * --scroll-panel-z-index
 */

.wrapper {
  position: relative;
  transition: background-color var(--bg-color-transition-duration);
}

.sticky-block {
  /* --z-index is defined in index.tsx */
  position: absolute;
  top: 0;
  display: inline-block;
  height: var(--fixed-blocks-height);
  z-index: var(--z-index);
}

.wrapper.wrapper_fix-blocks {
  .sticky-block {
    position: fixed;
  }
}

.wrapper.wrapper_offset-fixed-blocks {
  .sticky-block {
    position: absolute;
    top: calc(var(--scrolling-block-height) - var(--fixed-blocks-height));
  }
}

.scroll-panel {
  position: relative;
  z-index: var(--scroll-panel-z-index);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * STATUS
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.sticky-block.status-current {
  pointer-events: auto;
}
.sticky-block.status-previous,
.sticky-block.status-inactive {
  pointer-events: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * LAYOUTS
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * */

$minWidth: 801px;
$maxWidth: 800px;

/* left-half */
.scrolling-block {
  &.layout-left-half { @media (min-width: $minWidth) { width: 50%; } }
  &.layout-mobile-left-half { @media (max-width: $maxWidth) { width: 50%; } }
}

.sticky-block {
  &.layout-left-half {
    @media (min-width: $minWidth) {
      width: 50%;
      margin-right: -50%;
    }
  }
  &.layout-mobile-left-half {
    @media (max-width: $maxWidth) {
      width: 50%;
      margin-right: -50%;
    }
  }
}

/* right-half */
.scrolling-block {
  &.layout-right-half {
    @media (min-width: $minWidth) {
      margin-left: 50%;
      width: 50%;
    }
  }
  &.layout-mobile-right-half {
    @media (max-width: $maxWidth) {
      margin-left: 50%;
      width: 50%;
    }
  }
}

.sticky-block {
  &.layout-right-half {
    @media (min-width: $minWidth) {
      width: 50%;
      margin-right: -50%;
      left: 50%;
    }
  }
  &.layout-mobile-right-half {
    @media (max-width: $maxWidth) {
      width: 50%;
      margin-right: -50%;
      left: 50%;
    }
  }
} 
