.mondial-header {
  font-family: var(--ff-giorgio-sans);
  background-color: var(--mondial-main-color);
  color: #fff;
  height: 860px;
  max-height: 43px;
  transition: max-height 600ms;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  position: fixed;
  top: 59px;
  left: 0;
  width: 100%;
  z-index: 5;

  @media screen and (min-width: 800px) {
    max-height: 57px;
  }

  @media screen and (min-width: 1024px) {
    top: 57px;
  }

  &_in-app {
    top: -1px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--mondial-main-color);
    line-height: 1.1em;

    @media screen and (min-width: 800px) {
      padding: 16px 36px;
    }
  }

  &__marker {
    width: 90px;
    position: relative;
    transform: translateY(7%);

    @media screen and (min-width: 800px) {
      width: 100px;
    }
  }

  &__burger {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;

    svg {
      width: 16px;
      margin-right: 8px;
    }

    p {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  &__groups {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 55px;
    padding: 20px 40px 20px 32px;
    opacity: 0;
    transition: opacity 600ms;

    @media screen and (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 62px 20px 62px;
    }

    @media screen and (min-width: 1050px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &_open {
    max-height: 75vh;

    @media screen and (min-width: 1050px) {
      max-height: min(85vh, 520px);
    }

    .mondial-header__groups {
      opacity: 1;
    }

    @media screen and (max-width: 1050px) {
      &::after {
        pointer-events: none;
        display: block;
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        margin-top: -50px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--mondial-main-color) 100%);
      }
    }
  }
}

.Nav--contextual {
  display: none;
}

@media (min-width: 1024px) {
  .Nav--contextual {
    display: block;
  }
}