.mondial-header {
  font-family: var(--ff-giorgio-sans);
  background-color: var(--mondial-main-color);
  color: #fff;
  height: 860px;
  max-height: 43px;
  transition: max-height 600ms;
  overflow: scroll;
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 5;

  @media screen and (min-width: 800px) {
    max-height: 57px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--mondial-main-color);
    line-height: 1.1em;

    @media screen and (min-width: 800px) {
      padding: 16px 36px;
    }
  }

  &__marker {
    width: 90px;

    @media screen and (min-width: 800px) {
      width: 100px;
    }
  }

  &__burger {
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;

    svg {
      width: 16px;
      margin-right: 8px;
    }

    p {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  &__groups {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 55px;
    margin: 0 40px 0 32px;
    padding-top: 20px;
    opacity: 0;
    transition: opacity 600ms;

    @media screen and (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 62px;
    }

    @media screen and (min-width: 1050px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &_open {
    max-height: 85vh;

    @media screen and (min-width: 1050px) {
      max-height: min(85vh, 520px);
    }

    .mondial-header__groups {
      opacity: 1;
    }

    &::after {
      pointer-events: none;
      display: block;
      content: '';
      width: 100%;
      height: 100px;
      position: sticky;
      bottom: 0;
      margin-top: -50px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--mondial-main-color) 100%);  
    }
  }
}