.container {
  margin: 0 auto;

  > p {
    padding-top: calc(var(--lm-gallery-gutter-width) - 0.4em)
  }

  .section + .section {
    margin-top: var(--lm-gallery-gutter-width);
  }
}

// columns

.columns-wrapper {
  display: grid;
  grid-gap: var(--lm-gallery-gutter-width);
  grid-template-columns: repeat(var(--lm-gallery-sections-number), 1fr);
}

.section--columns > div + div {
  margin-top: var(--lm-gallery-gutter-width);
}

// triptych

.section--triptych {
  display: grid;
  grid-gap: var(--lm-gallery-gutter-width);
  grid-template-columns: 1fr 1fr;
}

.section--triptych > div:first-child {
  grid-column: var(--lm-triptych-main-column);
  grid-row: 1 / span 2;
}

.section--triptych > div {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// board

.section--board {
  columns: var(--lm-board-columns-number);

  > div {
    break-inside: avoid-column;
    margin-bottom: var(--lm-gallery-gutter-width);
  }
}