.carto-twitter-further-reading-card {
  max-width: 580px;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .carto-twitter-further-reading-card__title {
    font-family: var(--ff-marr-sans-condensed);
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #717B8E;
    margin-bottom: 24px;
  } 
  
  .carto-twitter-further-reading-card__text {
    font-family: var(--ff-the-antiqua-b);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #383f4E;

    a {
      text-decoration: underline;
    }
  }
}
