.mondial-gradient {
  background-color: var(--mondial-main-color);
  background-image: url(https://assets-decodeurs.lemonde.fr/redacweb/28-2210-mondial-assets/gradient.png);
  background-size: 600px 400px;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}