.covid-longform {
  position: relative;
  background-color: #F5F2E4;

  .covid-longform__header-slot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  .covid-longform__image-flipper-slot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    transition: opacity 600ms;
  }

  .covid-longform__intro-slot {
    position: relative;
    height: calc(1.2 * var(--len-visible-screen-height));
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .covid-longform__title-slot {
    position: relative;
    height: calc(0.7 * var(--len-visible-screen-height));
    z-index: 4;
  }

  .covid-longform__chapters-slot {
    position: relative;
    z-index: 2;
  }

  .covid-longform__credits-slot {
    color: #383F4E;
    display: flex;
    justify-content: center;
    padding: calc(40 * var(--vh)) 0 calc(60 * var(--vh)) 0;
    .lm-article-credits {
      max-width: 600px;
    }
  }
}
