.unnamed-longform {
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  
  // .credits-block {
  //   padding: 10vh 8px 15vh 8px;
  //   background-color: transparent;
  //   color: #2A303C;
  //   display: flex;
  //   justify-content: center;
  
  //   @media screen and (max-width: 800px) {
  //     padding-left: 24px;
  //     padding-right: 24px;
  //   }
  
  //   .credits-block-inner {
  //     max-width: 632px;
  //     border-top: 1px solid #D5D8DC;
  //     line-height: 1.4;
  //     padding: 32px 0;
  
  //     @media screen and (max-width: 800px) {
  //       padding: 16px 0;
  //     }
  //   }
  // }
  
}

.unnamed-longform__header {
  z-index: 30;
  position: fixed;
}


