.mondial-longform {
  font-family: var(--ff-marr-sans-condensed);
  background-color: #fff;
  min-height: 100vh;
  width: 100%;

  &__wrapper {
    margin: 0 6vw;
    z-index: 1;
  }

  &__end {
    padding: 120px 0;
    color: var(--c-mondial-blue);
    display: flex;
    justify-content: center;

    >div {
      max-width: 660px;
    }

    @media screen and (min-width: 800px) {
      padding: 160px 0;
    }

    @media screen and (min-width: 1000px) {
      padding: 200px 0;
    }
  }

  &__conclusion {
    font-family: var(--ff-the-antiqua-b);
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 96px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--c-mondial-blue);

    a {
      text-decoration: underline;
      text-decoration-thickness: 0.06em;
      text-underline-offset: 0.2em;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .mondial-info {
    margin: 56px 0;

    @media screen and (min-width: 800px) {
      margin: 96px 0;
    }
  }

  .lm-article-header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10 !important;
    opacity: 0;
    filter: blur(10px);
    animation: headerIn 600ms ease-in-out forwards;

    @keyframes headerIn {
      to {
        opacity: 1;
        filter: blur(0);
      }
    }
  }
}

.mondial-longform:has(.mondial-guide-cover_out) .lm-article-header {
  .fill-1 {
    --fill-1: rgb(0, 0, 0);
  }

  .fill-2 {
    --fill-2: rgb(0, 0, 0, 0.3);
  }
}

.mondial-longform .mondial-longform__wrapper {
  transition: opacity 800ms;
  opacity: 0;
}

.mondial-longform:has(.mondial-guide-cover_out) .mondial-longform__wrapper {
  opacity: 1;
}