.lm-layout-scrollator {
  position: relative;
  transition: background-color var(--bg-fade-transition-duration);
}

.lm-layout-scrollator__fixed-blocks-slot {
  position: sticky;
  z-index: 1;
  top: var(--nav-height);
  left: 0;
  width: 100%;
}

.lm-layout-scrollator__content-slot {
  position: relative;
  z-index: 2;
}

.lm-layout-scrollator__credits-slot {
  color: #e8eaee;
  max-width: 560px;
  margin: 0 auto;
  padding: 30vh 16px 50vh 16px;
}
