.frag-fixed-panels {
  position: relative;
  width: calc(100 * var(--vw));
  height: calc(100 * var(--vh));
}

.frag-fixed-panels__panel {
  width: 100%;
}

.frag-fixed-panels__panel.frag-fixed-panels__panel_active {
  opacity: 1;
  height: 100%;
  transition: opacity 800ms 2ms, height 2ms;
}

/* INTRO ROOT */

.frag-fixed-panels__intro-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 800ms, height 2ms 800ms;
}

.frag-fixed-panels__intro-panel.frag-fixed-panels__panel_active {
  opacity: 1;
  height: 100%;
  transition: opacity 800ms 2ms, height 2ms;
}

/* HOME ROOT */

.frag-fixed-panels__home-panel {
  position: absolute;
  opacity: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: opacity 800ms, height 2ms 800ms;
}

.frag-fixed-panels__home-panel.frag-fixed-panels__panel_active {
  opacity: 1;
  height: 100%;
  transition: opacity 800ms 2ms, height 2ms;
}

/* INTRO INNER */
.frag-fixed-panels__intro-paragraphs {
  width: 600px;
  max-width: calc(100% - 24px);
  position: relative;
  top: calc(-20 * var(--vh));
}

@media screen and (max-width: 1200px) {
  .frag-fixed-panels__intro-paragraphs {
    top: calc(-8 * var(--vh));
  }
}

@media screen and (max-width: 800px) {
  .frag-fixed-panels__intro-paragraphs {
    top: calc(-10 * var(--vh));
  }
}

.frag-fixed-panels .frag-intro-paragraph-chunk {
  color: transparent;
  font-size: 22px;
  font-weight: 500;
  transition: color 600ms 200ms;
  font-family: var(--ff-the-antiqua-b);
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .frag-fixed-panels .frag-intro-paragraph-chunk {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .frag-fixed-panels .frag-intro-paragraph-chunk {
    font-size: 16px;
  }
}

.frag-fixed-panels .frag-intro-paragraph-chunk.frag-intro-paragraph-chunk_to-come {
  color: transparent;
}

.frag-fixed-panels .frag-intro-paragraph-chunk.frag-intro-paragraph-chunk_current {
  color: #464F5F;
}

.frag-fixed-panels .frag-intro-paragraph-chunk.frag-intro-paragraph-chunk_passed {
  color: #8B92A1;
}

/* HOME INNER */

.frag-fixed-panels__home-panel svg {
  width: 600px;
  max-width: calc(100 * var(--vw) - 24px);
}

.frag-fixed-panels__home-panel svg path {
  fill: #2A303C;
  transition: opacity 400ms;
}
