.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--lm-gallery-gutter-width);
}

.row.equal-columns {
  display: grid;
  grid-template-columns: repeat(var(--lm-gallery-row-cols), 1fr);
  grid-gap: var(--lm-gallery-gutter-width);
}

.element {
  height: var(--lm-gallery-row-height);
  flex: 0 0 auto;

  img {
    object-fit: cover;
    object-position: var(--lm-gallery-row-img-position);
    width: 100%;
    height: 100%;
  }
}
