.mondial-button {
  background-color: var(--mondial-main-color);
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: calc(0.1 * 25px);
  font-weight: 700;
  padding: 12px;
  cursor: pointer;

  @media screen and (min-width: 600px) {
    font-size: 25px;
    line-height: 32px;
    letter-spacing: calc(0.1 * 35px);
  }

  &_light {
    background-color: #fff;
    color: var(--mondial-main-color);
  }

  & span {
    padding: 3px;
  }

  &:hover span {
    border-bottom: 1px solid;
  }
}