.mondial-button {
  background-color: var(--mondial-main-color);
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;

  @media screen and (min-width: 600px) {
    font-size: 35px;
    line-height: 42px;  
  }

  &_light {
    background-color: #fff;
    color: var(--mondial-main-color);
  }

  & span {
    padding: 3px;
  }

  &:hover span {
    border-bottom: 1px solid;
  }
}