.lm-app-fragments-longform {
  position: relative;
  margin-top: var(--len-nav-height);
  background-color: #FFFFFF;
}

/* Menu */
.lm-app-fragments-longform .frag-menu {
  position: fixed;
  top: calc(var(--len-nav-height));
  width: 100%;
  z-index: 101;
}

.lm-app-fragments-longform_menu-open .frag-menu {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  overflow: scroll;
}

.lm-app-fragments-longform_menu-closed .frag-menu {
  height: 0;
  overflow: hidden;
  display: none;
}

.lm-app-fragments-longform .frag-menu_hide-articles {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  padding-bottom: 0;
}

.lm-app-fragments-longform .frag-menu_hide-articles .frag-menu__inner,
.lm-app-fragments-longform .frag-menu_hide-articles .frag-menu__about {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  position: relative;
}

/* Header */
.lm-app-fragments-longform .frag-header {
  position: fixed;
  width: calc(100 * var(--vw));
  top: var(--len-nav-height);
  z-index: 100;
}

/* Intro */
.lm-app-fragments-longform .frag-intro {
  padding-top: calc(110 * var(--vh));
  z-index: 94;
  position: relative;
}

.lm-app-fragments-longform__home-scrolling-area {
  height: calc(200 * var(--vh));
}

/* Home */
.lm-app-fragments-longform .frag-home {
  z-index: 96;
  position: fixed;
}

/* Wide */
.lm-app-fragments-longform__wide-fragment-scrolling-area {
  height: calc(100 * var(--vh));
  z-index: 98;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.lm-app-fragments-longform__wide-fragment-scrolling-area-supertitle {
  font-family: var(--ff-marr-sans-condensed);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 48px;
}

.lm-app-fragments-longform__wide-fragment-scrolling-area-title {
  font-family: var(--ff-marr-sans-condensed);
  letter-spacing: 0.011136em;
  font-size: 44px;
  line-height: 48px;
}

.lm-app-fragments-longform .frag-wide-fragment-icono {
  z-index: 97;
  position: fixed;
}

@media screen and (max-width: 1200px) {
  .footer__links-multimedia {
    flex-direction: column;
  }
}

/* Grid */
.lm-app-fragments-longform__grid {
  display: flex;
  justify-content: center;
  z-index: 99;
  position: relative;
}

.lm-app-fragments-longform__grid-inner {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1488px;
  width: 100%;
  position: relative;
  top: calc(-5 * var(--vh));
}

.lm-app-fragments-longform__grid-fragment {
  width: calc((100% / 4) - 24px);
  margin: 12px;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .lm-app-fragments-longform__grid-fragment {
    width: calc((100% / 3) - 24px);
  }
}

@media screen and (max-width: 800px) {
  .lm-app-fragments-longform__grid-inner {
    padding-left: 8px;
    padding-right: 8px;
  }

  .lm-app-fragments-longform__grid-fragment {
    width: calc((100% / 2) - 16px);
    margin: 8px;
  }
}

@media screen and (max-width: 420px) {
  .lm-app-fragments-longform__grid-inner {
    padding-left: 4px;
    padding-right: 4px;
  }

  .lm-app-fragments-longform__grid-fragment {
    width: calc((100% / 2) - 8px);
    margin: 4px;
  }
}

.lm-app-fragments-longform__grid-fragment-inner {
  width: 100%;
  padding-bottom: 150%;
  background-size: cover;
  position: relative;
}

.lm-app-fragments-longform__grid-fragment-texts {
  --len-supertitle-font-size: 13px;
  --len-supertitle-line-height: 20px;
  --len-supertitle-mar-bottom: 16px;
  --len-title-font-size: 27px;
  --len-title-line-height: 30px;
  --len-title-mar-bottom: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--len-supertitle-line-height) + var(--len-supertitle-mar-bottom) + 3 * var(--len-title-line-height) + var(--len-title-mar-bottom));
  text-align: center;
  padding: 0 16px;
}

.lm-app-fragments-longform__grid-fragment-supertitle {
  font-family: var(--ff-marr-sans-condensed);
  color: #FFFFFF;
  font-size: var(--len-supertitle-font-size);
  line-height: var(--len-supertitle-line-height);
  font-weight: 500;
  letter-spacing: calc(1em / 13);
  text-transform: uppercase;
  margin-bottom: var(--len-supertitle-mar-bottom);
}

.lm-app-fragments-longform__grid-fragment-title {
  font-family: var(--ff-marr-sans-condensed);
  color: #FFFFFF;
  font-size: var(--len-title-font-size);
  line-height: var(--len-title-line-height);
  font-weight: 500;
  letter-spacing: calc(.5em / 27);
  margin-bottom: var(--len-title-mar-bottom);
}

@media screen and (max-width: 1200px) {
  .lm-app-fragments-longform__grid-fragment-texts {
    --len-supertitle-font-size: 12px;
    --len-supertitle-line-height: 16px;
    --len-supertitle-mar-bottom: 12px;
    --len-title-font-size: 21px;
    --len-title-line-height: 24px;
    --len-title-mar-bottom: 16px;
  }
}

@media screen and (max-width: 800px) {
  .lm-app-fragments-longform__grid-fragment-texts {
    --len-supertitle-font-size: 11px;
    --len-supertitle-line-height: 12px;
    --len-supertitle-mar-bottom: 8px;
    --len-title-font-size: 16px;
    --len-title-line-height: 19px;
    --len-title-mar-bottom: 16px;
  }
}
