.lm-app-fragments-longform {
  background-color: #FFFFFF;
}

/* Header */
.lm-app-fragments-longform .frag-header {
  position: fixed;
  width: calc(100 * var(--vw));
  top: var(--len-nav-height);
  z-index: 2;
}

/* Menu */
.lm-app-fragments-longform .frag-menu {
  position: fixed;
  top: calc(var(--len-nav-height));
  width: 100%;
  z-index: 3;
}

.lm-app-fragments-longform_menu-open .frag-menu {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  overflow: scroll;
}

.lm-app-fragments-longform_menu-closed .frag-menu {
  height: 0;
  overflow: hidden;
  display: none;
}

.lm-app-fragments-longform .frag-menu_hide-articles {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  padding-bottom: 0;
}

.lm-app-fragments-longform .frag-menu_hide-articles .frag-menu__inner,
.lm-app-fragments-longform .frag-menu_hide-articles .frag-menu__about {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  position: relative;
}

/* Content */
.lm-app-fragments-longform__content {
  position: relative;
  z-index: 1;
}

.lm-app-fragments-longform__panels {
  position: relative;
}

.lm-app-fragments-longform__panels {
  position: fixed;
  top: 0;
}
