.lm-app-fragments-snippet-foot {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
}

.lm-app-fragments-snippet-foot__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.lm-app-fragments-snippet-foot__about > * {
  position: relative;
  z-index: 2;
}

.lm-app-fragments-snippet-foot__about-opacifier {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0, .75) 66%, rgb(0, 0, 0, 1));
}

.lm-app-fragments-snippet-foot__marqueur {
  padding: 8px;
  margin-top: 80px;
  margin-bottom: 36px;
}

.lm-app-fragments-snippet-foot__marqueur img {
  display: block;
  width: 100%;
  max-width: 353px;
}

.lm-app-fragments-snippet-foot__about-paragraph {
  font-family: var(--ff-the-antiqua-b);
  font-size: 20px;
  line-height: 1.5;
  color: #E2E4E9;
  text-align: center;
  max-width: 640px;
  margin-bottom: 40px;
  padding: 8px;
}

.lm-app-fragments-snippet-foot__cta {
  display: flex;
  border: none;
  align-items: center;
  padding: 12px 20px;
  background: #FFFFFF;
  font-family: var(--ff-marr-sans);
  font-weight: 500;
  font-size: 13px;
  line-height: 10px;
  border-radius: 20px;
  margin-bottom: 96px;
  text-decoration: none;
}

.lm-app-fragments-snippet-foot__cta-icon {
  position: relative;
  top: 1px;
  margin-left: 8px;
}

.lm-app-fragments-snippet-foot__list-label {
  font-family: var(--ff-marr-sans-condensed);
  color: #EFF0F3;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: .04em;
}

.lm-app-fragments-snippet-foot__list {
  color: #FFFFFF;
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1248px;
}

.lm-app-fragments-snippet-foot__related-fragment {
  width: 210px;
  margin: 16px;
  flex-grow: 0;
}

.lm-app-fragments-snippet-foot__related-fragment-image {
  width: 100%;
  padding-bottom: 178%;
  background-color: #222222;
  background-position: center;
  background-size: cover;
  position: relative;
}

.lm-app-fragments-snippet-foot__related-fragment-image-opacifier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  flex-shrink: 0;
  opacity: 1;
  transition: opacity 500ms;
}

.lm-app-fragments-snippet-foot__related-fragment:hover .lm-app-fragments-snippet-foot__related-fragment-image-opacifier {
  opacity: .2;
}

.lm-app-fragments-snippet-foot__related-fragment-image-texts {
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.lm-app-fragments-snippet-foot__related-fragment-image-supertitle {
  font-family: var(--ff-marr-sans-condensed);
  font-size: 13px;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin-bottom: 12px;
}

.lm-app-fragments-snippet-foot__related-fragment-image-title {
  font-family: var(--ff-marr-sans-condensed);
  font-size: 17px;
  line-height: 20px;
  letter-spacing: .05em;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .lm-app-fragments-snippet-foot {
    padding-bottom: 96px;
  }

  .lm-app-fragments-snippet-foot__marqueur img {
    max-width: 300px;
  }

  .lm-app-fragments-snippet-foot__marqueur {
    margin-bottom: 24px;
  }
  
  .lm-app-fragments-snippet-foot__about-paragraph {
    font-size: 18px;
  }

  .lm-app-fragments-snippet-foot__cta {
    margin-bottom: 80px;
  }

  .lm-app-fragments-snippet-foot__related-fragment {
    width: 185px;
    margin: 12px;
  }
}

@media screen and (max-width: 800px) {
  .lm-app-fragments-snippet-foot__marqueur img {
    max-width: 220px;
  }

  .lm-app-fragments-snippet-foot__about-paragraph {
    font-size: 16px;
  }

  .lm-app-fragments-snippet-foot__cta {
    margin-bottom: 64px;
  }

  .lm-app-fragments-snippet-foot__list-label {
    font-size: 17px;
  }

  .lm-app-fragments-snippet-foot__list {
    margin-top: 32px;
  }

  .lm-app-fragments-snippet-foot__related-fragment {
    width: 166px;
    margin: 8px;
  }

  .lm-app-fragments-snippet-foot__related-fragment-image-texts {
    bottom: 8px;
  }

  .lm-app-fragments-snippet-foot__related-fragment-image-title {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 374px) {
  .lm-app-fragments-snippet-foot__related-fragment {
    width: calc(80% - 16px);
    margin: 8px;
  }
}
