#lm-app-snippet-head-root {
  width: unset !important;
  height: unset !important;
}

.lm-app-fragments-snippet-head {
  width: calc(100 * var(--vw));
  /* margin-top: var(--len-nav-height); */
  height: calc(100 * var(--vh) - var(--len-nav-height));
  position: relative;
  overflow: hidden;
}

.lm-app-fragments-snippet-head .frag-menu {
  position: fixed;
  height: 0;
  overflow: hidden;
  width: 100%;
  z-index: 6;
  top: var(--len-nav-height);
}

.lm-app-fragments-snippet-head.lm-app-fragments-snippet-head_menu-open .frag-menu {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  overflow: scroll;
  opacity: 1;
  transition: opacity 400ms 1ms, height 1ms;
}

.lm-app-fragments-snippet-head.lm-app-fragments-snippet-head_menu-closed .frag-menu {
  padding-bottom: 0;
  opacity: 0;
  height: 0;
  transition: opacity 400ms, height 1ms 400ms;
}

@media screen and (max-width: 1200px) {
  .lm-app-fragments-snippet-head.lm-app-fragments-snippet-head_menu-closed .frag-menu {
    padding-bottom: 0;
  }
}

/* .lm-app-fragments-snippet-head .frag-menu_hide-articles {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  padding-bottom: 0;
}

.lm-app-fragments-snippet-head .frag-menu_hide-articles .frag-menu__inner,
.lm-app-fragments-snippet-head .frag-menu_hide-articles .frag-menu__about {
  height: calc(100 * var(--vh) - var(--len-nav-height));
  position: relative;
} */

/* Header */
.lm-app-fragments-snippet-head__header-wrapper {
  position: fixed;
  top: var(--len-nav-height);
  width: 100%;
  z-index: 4;
}

@media screen and (max-width: 800px) {
  .lm-app-fragments-snippet-head .frag-header__marqueur {
    width: 140px;
  }
}

@media screen and (max-width: 400px) {
  .lm-app-fragments-snippet-head .frag-header__marqueur {
    width: 120px;
  }
  
  .lm-app-fragments-snippet-head .frag-header__button {
    --fs: 10px;
  }
}

/* Icono */
.lm-app-fragments-snippet-head .frag-wide-icono {
  width: 100%;
  height: calc(100 * var(--vh));
  position: relative;
  z-index: 1;
}

/* texts */
.lm-app-fragments-snippet-head__texts {
  z-index: 2;
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 736px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: rgb(255, 255, 255, 0);
  transform:  translate(-50%, 400px);
  transition: top 50ms;
  text-align: center;
  top: -115px;
  animation: textsfade 1200ms ease 200ms 1 forwards;
}

@keyframes textsfade {
  from {
    color: rgb(255, 255, 255, 0);
    transform: translate(-50%, 400px);
  }
  to {
    color: rgb(255, 255, 255, 1);
    transform: translate(-50%, 0);
  }
}

.lm-app-fragments-snippet-head__supertitle {
  font-family: var(--ff-marr-sans-condensed);
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  width: 854px;
  max-width: calc(100% - 64px);
}

.lm-app-fragments-snippet-head__kicker {
  font-family: var(--ff-the-antiqua-b);
  font-size: 24px;
  line-height: 1.5;
  width: 854px;
  max-width: calc(100% - 64px);
}

@media screen and (max-width: 1200px) {
  .lm-app-fragments-snippet-head__supertitle {
    font-size: 17px;
  }

  .lm-app-fragments-snippet-head__kicker {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .lm-app-fragments-snippet-head__supertitle {
    font-size: 14px;
    max-width: calc(100% - 32px);
  }

  .lm-app-fragments-snippet-head__kicker {
    font-size: 16px;
    max-width: calc(100% - 32px);
  }
}

.lm-app-fragments-snippet-head__chevron {
  position: absolute;
  left: 50%;
  bottom: -400px;
  transform: translateX(-50%);
  z-index: 5;
  animation: chevronslide 1400ms ease 400ms 1 forwards;
}

@keyframes chevronslide {
  from {
    bottom: -400px;
  }
  to {
    bottom: 65px;
  }
}

.lm-app-fragments-snippet-head__chevron svg {
  animation: chevronblink 1200ms ease infinite alternate;
}

.lm-app-fragments-snippet-head__chevron path {
  stroke: #FFFFFF;
}

@keyframes chevronblink {
  from { opacity: .2; }
  to { opacity: 1; }
}
