.photos21 {
  position: relative;
}

.photos21__home {
  position: relative;
  z-index: 4;
}

.photos21__intro {
  position: relative;
  z-index: 5;
}

.photos21__nav {
  position: fixed;
  z-index: 3;
  top: var(--nav-height);
  left: 0;
}

.photos21__months {
  position: relative;
  z-index: 2;
}

.photos21__credits {
  position: relative;
  z-index: 1;
}
