.app {
  --c-prenoms-beige: 252, 223, 203;
  --c-prenoms-black: 0, 0, 0;
  --c-prenoms-white: 255, 255, 255;
  background-color: rgba(var(--c-prenoms-beige));
  background-image: url('./assets/grid-background.png');
  background-position: top center;
  background-size: 9.6rem;
}

.header {
  display: inline-block;
}

.intro {
  max-width: calc(42 * 16px);
  margin: 0 auto;
}

.names {

}

.go-next {
  
}