html, body {
  margin: 0;
  padding: 0;
}

.photos21 {
  position: relative;
  --c-page-bg: #081012;
  --c-header-bg: rgb(18, 22, 24, .8);
  --c-main-text: #E2E4E9;
  --c-secondary-text: #A9A9B3;
  --c-borders: #36363A;

  --len-content-main-side-padding: 24px;
  --len-intro-padding-top: calc(15 * var(--vh));
  --len-intro-padding-bottom: calc(15 * var(--vh));
  --len-months-padding-top: 0;
  --len-months-padding-bottom: 0;
  --len-month-padding-top: calc(var(--nav-height) + 9 * var(--vh));
  --len-month-padding-bottom: calc(22 * var(--vh));
  --len-month-title-margin-bottom: calc(32px + 7 * var(--vh));
  --len-photo-block-margin-bottom: calc(28 * var(--vh));
  --len-photo-margin-bottom: 24px;
  --len-credits-padding-top: 0;
  --len-credits-padding-bottom: calc(30 * var(--vh));
  
  --fs-home-title-line-1: 96px;
  --fs-home-title-line-2: 32px;
  --fs-month-title: 32px;
  --fs-main-text: 18px;
  --fs-descriptions-text: 16px;

  @media screen and (max-width: 800px) {
    --len-content-main-side-padding: 16px;
    --fs-month-title: 20px;
    --fs-main-text: 16px;
    --fs-descriptions-text: 14px;
  }
}

.photos21__nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  transition: top 200ms;
}

.photos21_hide-nav .photos21__nav {
  top: calc(var(--nav-height) - 60px);
}

.photos21_show-nav .photos21__nav {
  top: var(--nav-height);
}

.photos21__home {
  position: relative;
  z-index: 1;
}

.photos21__intro {
  position: relative;
  z-index: 2;
}

.photos21__months {
  position: relative;
  z-index: 3;
}

.photos21__credits {
  position: relative;
  z-index: 4;
}
