.lm-app {
  position: relative;
  margin-top: var(--len-nav-height);
  background-color: #FFFFFF;
}

.lm-app .frag-header {
  position: fixed;
  width: calc(100 * var(--vw));
  top: var(--len-nav-height);
  z-index: 100;
}

.lm-app .frag-intro {
  padding-top: calc(110 * var(--vh));
  z-index: 96;
  position: relative;
}

.lm-app__home-scrolling-area {
  height: calc(300 * var(--vh));
}

.lm-app .frag-home {
  z-index: 98;
  position: fixed;
}

.lm-app .frag-wide-articles {
  z-index: 99;
  position: relative;
}
