.dest22-intro-paragraph {
  color: #0E1B4C;
  font-family: var(--ff-the-antiqua-b);
  font-size: var(--fs-main-text);
  line-height: var(--lh-main-text);
  margin: var(--len-intro-paragraph-v-margin) 0;
}