.wrapper
  :global(.lm-fancy-hoverable-text__shadow)
    :global(.prenoms-name__name) {
  visibility: hidden;
}

.wrapper
  :global(.lm-fancy-hoverable-text__fill)
    :global(.prenoms-name__name) {
  color: rgba(var(--c-prenoms-black));
}

.head {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: calc(4 * 16px);
  line-height: calc(4 * 16px);
  cursor: pointer;
  margin-bottom: calc(1.5 * 16px);
}

.text {
  font-family: var(--ff-current);
  font-size: calc(1.125 * 16px);
  line-height: calc(1.25 * 16px);
}

.text > * {
  margin-bottom: calc(1 * 16px);
}

.text em {
  font-style: italic;
  background: rgba(var(--c-prenoms-white), .6);
}

.text h2 {
  font-family: var(--ff-heading);
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
}

.text iframe,
.text figure,
.text :global(.article__reactions),
.text :global(.author),
.text :global(.catcher) {
  display: none;
}

.toggle {
  border: none;
  padding: 0;
  border-bottom: 1px solid rgba(var(--c-prenoms-black));
  color: rgba(var(--c-prenoms-black));
  background: transparent;
  font-family: var(--ff-heading);
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1008px) {
  .head {
    font-size: calc(3.5 * 16px);
    line-height: calc(3.5 * 16px);
  }
}

@media screen and (max-width: 640px) {
  .head {
    font-size: calc(2.75 * 16px);
    line-height: calc(2.75 * 16px);
    margin-bottom: calc(1 * 16px);
  }

  .text {
    font-size: calc(1 * 16px);
    line-height: calc(1.125 * 16px);
  }
}

@media screen and (max-width: 480px) {
  .head {
    font-size: calc(2.25 * 16px);
    line-height: calc(2.25 * 16px);
  }
}
