body.blocked {
  height: 100vh;
  overflow: hidden;
}

.mondial-guide-cover {
  --mondial-cover-side-padding: 46px;
  --mondial-cover-circle-width: 200%;
  --mondial-cover-player-offset-transition: 0px;
  --mondial-cover-aspect-ratio: 4/7;
  --mondial-cover-player-offset: 40vw;
  --mondial-cover-text-bottom: 50%;
  display: grid;
  overflow: hidden;
  margin-bottom: 146px;

  >* {
    grid-area: 1 / -1;
  }

  @media screen and (min-width: 400px) {
    --mondial-cover-player-offset: 35vw;
    --mondial-cover-aspect-ratio: 5/7;
  }

  @media screen and (min-width: 600px) {
    --mondial-cover-player-offset: 30vw;
    --mondial-cover-aspect-ratio: 6/7;
    --mondial-cover-circle-width: 140%;
  }

  @media screen and (min-width: 850px) {
    --mondial-cover-player-offset: 20vw;
    --mondial-cover-side-padding: 120px;
    --mondial-cover-circle-width: 120%;
    --mondial-cover-aspect-ratio: 8/7;
  }

  @media screen and (min-width: 1000px) {
    --mondial-cover-player-offset: 10vw;
    --mondial-cover-aspect-ratio: 10/7;
  }

  @media screen and (min-width: 1100px) {
    --mondial-cover-circle-width: 88%;
    --mondial-cover-aspect-ratio: 11/7;
  }

  @media screen and (min-width: 1200px) {
    --mondial-cover-player-offset: 0;
    --mondial-cover-aspect-ratio: 12/7;
    --mondial-cover-side-padding: calc((100% - 960px) / 2);
  }

  @media screen and (min-width: 1600px) {
    --mondial-cover-player-offset: -10vw;
  }

  @media screen and (max-width: 650px) {
    &__marker {
      width: 85px;
    }

    &__scrollicon {
      width: 38px;
    }
  }

  &__container {
    max-height: 800px;
    padding: 80px var(--mondial-cover-side-padding);
    display: grid;
    overflow: hidden;

    >* {
      grid-area: 1 / -1;
    }
  }

  &__text {
    z-index: 2;
    align-self: center;
    justify-self: center;
    color: #fff;

    >div {
      width: 100%;
      position: absolute;
    }

    >div:first-child {
      text-align: center;
      max-width: 520px;
      display: grid;
      justify-items: center;
      bottom: -100%;
      left: 50%;
      transform: translate(-50%, 50%);
      animation: 1s cubic-bezier(0.33, 1, 0.68, 1) var(--mondial-animation-delay) 1 animateTitleIn forwards;

      @media screen and (min-width: 700px) {
        --mondial-cover-text-bottom: 20%;
        transform: translate(-50%, 10%);
      }
    }

    >div:last-child {
      top: 150%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 28px;
      font-family: var(--ff-the-antiqua-b);
      font-size: 16px;
      line-height: 22px;
      // animation: 1s cubic-bezier(0.33, 1, 0.68, 1) var(--mondial-animation-delay) 1 animateTitleIn forwards;

      @media screen and (min-width: 400px) {
        padding: 0 56px;
      }

      @media screen and (min-width: 600px) {
        padding: 0 100px;
        font-size: 18px;
        line-height: 26px;  
      }

      @media screen and (min-width: 800px) {
        padding: 0 160px;
      }
    }

  }

  &__title {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: calc(0.05 * 35px);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    margin: 16px 16px 32px 16px;

    @media screen and (min-width: 450px) {
      font-size: 45px;
      line-height: 50px;
      margin: 24px 24px 48px 24px;
    }

    @media screen and (min-width: 650px) {
      font-size: 60px;
      line-height: 65px;
    }
  }

  &__circle {
    justify-self: center;
    position: relative;
    top: 46px;
    max-width: unset;
    width: var(--mondial-cover-circle-width);
    height: 0;
    z-index: 0;

    circle {
      stroke-dashoffset: var(--mondial-circle-length);
      animation: 2.6s cubic-bezier(0.33, 1, 0.68, 1) var(--mondial-animation-delay) 1 animateCircleIn forwards;
    }

    &_overlay {
      z-index: 1;
      mix-blend-mode: overlay;
      top: calc(-100% + 46px);
      left: calc(-1 * (var(--mondial-cover-circle-width) - 100%) / 2);
    }
  }

  &__gradient {
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    aspect-ratio: var(--mondial-cover-aspect-ratio);
    position: relative;
  }

  &__player {
    z-index: 1;
    align-self: flex-end;
    max-height: 400px;
    position: relative;

    @media screen and (min-width: 500px) {
      max-height: 520px;
    }

    @media screen and (min-width: 700px) {
      max-height: unset;
    }

    &_left {
      left: -50vw;
      transform: translateX(calc(-1 * var(--mondial-cover-player-offset)));
      animation: 1s cubic-bezier(0.33, 1, 0.68, 1) var(--mondial-animation-delay) 1 animatePlayerLeftIn forwards;
    }

    &_right {
      left: 50vw;
      justify-self: flex-end;
      transform: translateX(calc(1 * var(--mondial-cover-player-offset)));
      animation: 1s cubic-bezier(0.33, 1, 0.68, 1) var(--mondial-animation-delay) 1 animatePlayerRightIn forwards;
    }
  }

  &.out {
    .mondial-guide-cover__text > div:first-child {
      animation: 2.2s cubic-bezier(0.33, 1, 0.68, 1) animateTitleOut forwards;
    }

    .mondial-guide-cover__text > div:last-child {
      animation: 2s cubic-bezier(0.33, 1, 0.68, 1) animateIntroIn forwards;
    }

    .mondial-guide-cover__player_left {
      animation: 2s cubic-bezier(0.33, 1, 0.68, 1) animatePlayerLeftOut forwards;
    }

    .mondial-guide-cover__player_right {
      animation: 2s cubic-bezier(0.33, 1, 0.68, 1) animatePlayerRightOut forwards;
    }

    .mondial-guide-cover__circle circle {
      animation: 2s cubic-bezier(0.33, 1, 0.68, 1) animateCircleOut forwards;
    }
  }

  &.back {
    .mondial-guide-cover__text > div:first-child {
      animation: 1.6s cubic-bezier(0.33, 1, 0.68, 1) animateTitleBack forwards;
    }

    .mondial-guide-cover__text > div:last-child {
      animation: 1s cubic-bezier(0.33, 1, 0.68, 1) animateIntroBack forwards;
    }

    .mondial-guide-cover__player_left {
      animation: 1s cubic-bezier(0.33, 1, 0.68, 1) animatePlayerLeftIn forwards;
    }

    .mondial-guide-cover__player_right {
      animation: 1s cubic-bezier(0.33, 1, 0.68, 1) animatePlayerRightIn forwards;
    }

    .mondial-guide-cover__circle circle {
      animation: 1s cubic-bezier(0.33, 1, 0.68, 1) animateCircleIn forwards;
    }
  }
}

@keyframes animateTitleIn {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: var(--mondial-cover-text-bottom);
  }
}

@keyframes animateTitleOut {
  0% {
    bottom: var(--mondial-cover-text-bottom);
  }

  100% {
    bottom: 150%;
  }
}

@keyframes animateTitleBack {
  0% {
    bottom: 150%;
  }

  100% {
    bottom: var(--mondial-cover-text-bottom);
  }
}

@keyframes animateIntroIn {
  0% {
    top: 150%;
  }

  100% {
    top: 50%;
  }
}

@keyframes animateIntroBack {
  0% {
    top: 50%;
  }

  100% {
    top: 150%;
  }
}

@keyframes animatePlayerLeftIn {
  0% {
    left: -50vw;
  }

  100% {
    left: 0;
  }
}

@keyframes animatePlayerLeftOut {
  0% {
    left: 0;
  }

  100% {
    left: -50vw;
  }
}

@keyframes animatePlayerRightIn {
  0% {
    left: 50vw;
  }

  100% {
    left: 0;
  }
}

@keyframes animatePlayerRightOut {
  0% {
    left: 0;
  }

  100% {
    left: 50vw;
  }
}