.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.message-container {
  position: absolute;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.message {
  max-width: 260px;
  border-radius: 8px;
  background-color: #CFD7C8;
  font-family: var(--ff-marr-sans);
  display: inline-block;
  padding: 8px 24px 8px 12px;
  opacity: 0;
  transition: opacity 800ms;
  position: relative;
  margin: 0;
}

.message-container svg {
  opacity: 0;
  position: absolute;
  right: -9px;
  bottom: 14px;

  path {
    fill: #CFD7C8;
  }
}

.message-container--visible svg,
.message-container--visible .message {
  opacity: 1;
}