.mondial-group {

  &_default {
    &:last-child {
      .mondial-group__teams {
        margin-bottom: 0;
      }
    }
  }

  &__teams {
    padding-top: 24px;
    border-top: 2px solid var(--c-mondial-blue);

    @media screen and (min-width: 900px) {
      border-top: 0px solid transparent;
      padding-top: 0;
    }

    &_default {
      // [WIP] ? 
      --mondial-grid-columns: 2;
      display: grid;
      grid-template-columns: repeat(var(--mondial-grid-columns), minmax(100px, 280px));

      margin: 24px 0 42px 0;
      // margin: 84px 0 42px 0;
      grid-row-gap: 26px;
      // grid-row-gap: 86px;
      grid-column-gap: 16px;
      justify-content: space-between;

      @media screen and (min-width: 350px) {
        --mondial-grid-columns: 2;
      }

      @media screen and (min-width: 600px) {
        --mondial-grid-columns: 3;
      }

      @media screen and (min-width: 900px) {
        margin: 36px 0 52px 0;
        --mondial-grid-columns: 5;
      }

      @media screen and (min-width: 1200px) {
        grid-column-gap: 26px;
      }
    }
  }

}

.mondial-group {

  &_navbar {
    margin: 0 0 32px 0;
  }

}