.mondial-group {

  &_default {
    margin: 0 max(40px, 8vw);
  }

  &__teams {

    &_default {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 280px));
      margin: 24px 0 42px 0;
      grid-row-gap: 26px;
      grid-column-gap: 26px;
      justify-content: space-between;
  
      @media screen and (min-width: 800px) {
        grid-template-columns: repeat(4, minmax(100px, 280px));
      }
  
      @media screen and (min-width: 900px) {
        margin: 36px 0 52px 0;
      }
    }
  }

}

.mondial-group {

  &_navbar {
    margin: 0 0 32px 0;
  }

}