.sable-article-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 40px;
  background-color: rgb(0, 0, 0, .75);
  padding: 30px;
  max-width: 720px;

  @media screen and (max-width: 600px) {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.sable-article-card__overhead,
.sable-article-card__title {
  max-width: 520px;
}

.sable-article-card__overhead {
  font-family: var(--ff-marr-sans);
  color: white;
  font-size: 16px;
  letter-spacing: .125em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;

  @media screen and (max-width: 1024px) {
    font-size: 14.5px;
  }

  @media screen and (max-width: 600px) {
    font-size: 13px;
  }
}

.sable-article-card__overhead > span {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.sable-article-card__overhead.sable-article-card__overhead_no-underline > span:nth-child(2) {
  text-decoration: none;
}

.sable-article-card__title {
  font-family: var(--ff-marr-sans);
  font-weight: 700;
  font-size: 46px;
  color: white;
  max-width: 840px;
  margin-bottom: 12px;
  line-height: 1.1;

  @media screen and (max-width: 1024px) {
    font-size: 34px;
  }

  @media screen and (max-width: 600px) {
    font-size: 22px;
  }
}

.sable-article-card__kicker {
  // font-family: var(--ff-marr-sans); 
  color: white;
  font-family: var(--ff-the-antiqua-b); 
  font-weight: 500; 
  font-size: 21px; 
  letter-spacing: -0.5px;
  line-height: 130%;

  @media screen and (max-width: 1024px) {
    font-size: 17px;
    letter-spacing: -.1px;
  }

  @media screen and (max-width: 600px) {
    font-size: 15px;
  }
}

.sable-article-card__button {
  padding: 8px 32px;
  border-radius: 20px;
  font-family: var(--ff-marr-sans);
  font-weight: 600;
  margin: 0;
  margin-top: 24px;
  cursor: pointer;
  font-size: 16px;

  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 400ms;

  &:hover {
    background-color: white;
    color: black;
  }

  @media screen and (max-width: 1024px) {
    font-size: 14.5px;
  }

  @media screen and (max-width: 600px) {
    font-size: 13px;
    padding: 6px 16px;
    margin-top: 12px;
    border: 1px solid white;
  }
}

.sable-article-card__read-later {
  font-family: var(--ff-marr-sans);
  color: white;
  font-size: 16px;
  letter-spacing: .125em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
  margin-top: 12px;

  @media screen and (max-width: 1024px) {
    font-size: 14.5px;
  }

  @media screen and (max-width: 600px) {
    font-size: 13px;
    margin-top: 6px;
  }
}

.sable-article-card.sable-article-card_inactive-buttons {
  opacity: .7;

  .sable-article-card__title {
    font-weight: 600;
  }

  .sable-article-card__button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: default;
  }
}
