.mondial-team__image {
  display: grid;
  align-items: center;
  aspect-ratio: 24/40; 
  overflow: hidden;

  &__gradient {
    height: calc(100% - 48px);
    width: calc(100% - 48px);
    position: relative;
    left: 24px;
    display: grid;
    overflow: hidden;

    > * {
      grid-area: 1 / -1;
    }
  }
  
  &__circle {
    width: 100%;

    &_overlay {
      mix-blend-mode: overlay;
      width: calc(100% + 48px);
      max-width: unset;
      position: relative;
      top: -24px;
      left: -24px;
      opacity: 0.6;
    }
  }
  
  &__player {
    max-width: unset;
    width: 180%;
    z-index: 1;
    justify-self: center;
    align-self: flex-start;
  }

  > * {
    grid-area: 1 / -1;
  }
}