.mondial-team__image {
  --mondial-team-img-transition: 400ms;

  display: grid;
  width: fit-content;
  position: relative;
  overflow: hidden;
  max-width: 100%;

  >* {
    grid-area: 1/-1;
  }
}

.mondial-team__image__shape {
  height: 100%;
  max-width: 100%;
}

.mondial-team__image__player {
  height: 100%;
  position: absolute;
  /* [WIP] pour l'ombre, à clean */
  bottom: -10px;
  left: 50%;
  transform: translateX(-48%);
  transition: transform var(--mondial-team-img-transition);
  z-index: 1;

  img {
    height: 100%;
    /* [WIP] exporter à part ? ou gérer à la main position selon orientation du joueur ? */
    filter: drop-shadow(12px -6px #0000004d);
  }
}

.mondial-team__image__overlay {
  z-index: 5;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
  padding: 32px;
  opacity: 0;
  transition: opacity var(--mondial-team-img-transition);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--c-mondial-blue);
    opacity: 0.6;
  }

  p {
    max-width: 160px;
    user-select: none;
    z-index: 2;
  }
}

.mondial-team__image:hover {
  .mondial-team__image__overlay {
    opacity: 1;
  }

  .mondial-team__image__player {
    transform: translateX(-50%);
  }
}