.illus21-chapter-row {
  // --illus21-chapter-row-max-height: calc(100 * var(--vh) - 64px);
  --illus21-chapter-row-max-height: calc(var(--len-visible-screen-height) - 64px);

  height: var(--illus21-chapter-row-max-height);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;

  // @media screen and (max-width: 1200px) {
  //   --illus21-chapter-row-max-height: calc(var(--len-visible-screen-height) - 64px);
  // }

  .illus21-chapter-row__image-block {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    --illus21-chapter-row-this-img-block-width: calc(var(--illus21-chapter-row-this-img-block-percent-width) * var(--vw));
    width: var(--illus21-chapter-row-this-img-block-width);

    margin-right: calc(var(--illus21-main-block-h-margin) * 2);
    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 800px) {
      --illus21-chapter-row-this-img-block-width: calc(100 * var(--vw));
    }
  }
}
