.covid-title {
  text-align: center;
  opacity: 1;
  transition: opacity 600ms 300ms;

  font-family: var(--ff-marr-sans);
  font-size: 52px;
  line-height: 1;
  color: #FCFCFD;
  font-weight: 400;

  @media screen and (max-width: 1200px) {
    font-size: 40px;
  }

  @media screen and (max-width: 800px) {
    font-size: 29px;
  }

  p:nth-child(1) {
    font-weight: 900;
  }

  &.covid-title_inactive {
    opacity: 0;
    transition: opacity 600ms;
  }
}
