.covid-title {
  text-align: center;
  transform: translateY(calc(-0.3 * var(--len-visible-screen-height)));
  opacity: 1;
  transition: opacity 600ms, transform 600ms;

  font-family: var(--ff-marr-sans);
  color: #FCFCFD;

  font-weight: 400;

  p:nth-child(1) {
    font-weight: 900;
  }

  &.covid-title_inactive {
    opacity: 0;
    transform: translateY(0);
  }
}
