.lm-stop-motion {
  position: relative;

  &__frame {
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
  }

  &__frame:first-child {
    position: relative;
  }

  &__frame--active {
    visibility: visible;
  }
}