.mondial-cover {
  display: grid;
  justify-items: center;
  // max-width: 1100px;
  margin: 0;
  max-height: 750px;

  &_in-app {
    margin-top: 60px;
  }

  * {
    z-index: 1;
  }

  >* {
    grid-area: 1 / -1;
  }

  &__gradient {
    height: 100%;
    width: 100%;
    display: grid;

    >* {
      grid-area: 1 / -1;
    }
  }

  &__shape {
    z-index: 2;
    max-width: 100%;
  }

  &__player {
    align-self: flex-end;
    position: relative;
    bottom: 0;
    left: 100%;
    z-index: 2;
    opacity: 0;
    max-height: 88%;
    width: 130%;
    object-fit: contain;
    animation: 2.6s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 animatePlayerIn forwards;
  }
}

@keyframes animatePlayerIn {
  0% {
    opacity: 0;
    left: 100%;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}