.mondial-team__title {
  text-align: center;
  color: var(--mondial-main-color);
  margin: 8px 0 16px 0;

  @media screen and (min-width: 800px) {
    margin: 12px 0 20px 0;
  }

  & > p:first-child {
    font-weight: 700;
    text-transform: uppercase;
  }

  & > p:last-child {
    font-weight: 300;
  }
}