.wrapper {
  display: grid;

  // &--single-col {
  //   grid-template-columns: fit-content(100%);
  // }

  // &--two-cols {
  //   grid-template-columns: fit-content(50%) fit-content(50%);
  // }

  // &--three-cols {
  //   grid-template-columns: fit-content(33%) fit-content(33%) fit-content(33%);
  // }

}

.single-col {
  grid-auto-columns: max-content;
}

.two-cols {
  grid-template-columns: max-content max-content;
}

.three-cols {
  grid-template-columns: max-content max-content max-content;
}

.single-col {

  .above,
  .below,
  .image-wrapper {
    grid-column: 2/3;
  }
}

.before {
  grid-column: 1/2;
}

.after {
  grid-column: 3/4;
}

.before,
.after,
.image-wrapper {
  display: grid;

  >* {
    grid-area: 1/-1;
  }

  img {
    max-width: 100%;
  }
}

.center {
  align-self: center;
}

.bottom {
  align-self: flex-end;
}
