.carto-twitter-title-card {
  max-width: 320px;
  background-color: white;
  box-sizing: content-box;
  padding: 40px 120px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 1200px) {
    max-width: 260px;
  }

  @media screen and (max-width: 800px) {
    max-width: 200px;
  }

  @media screen and (max-width: 600px) {
    padding: 32px 80px;
  }

  @media screen and (max-width: 420px) {
    padding: 32px 40px;
  }

  .carto-twitter-title-card__overhead {
    font-family: var(--ff-marr-sans-condensed);
    font-weight: 500;
    font-size: 17px;
    letter-spacing: .05em;
    line-height: 1;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #717B8E;

    @media screen and (max-width: 1200px) {
      margin-bottom: 20px;
    }
  
    @media screen and (max-width: 800px) {
      margin-bottom: 16px;
    }
  }

  .carto-twitter-title-card__title {
    font-family: var(--ff-marr-sans-condensed);
    font-weight: 800;
    font-size: 64px;
    line-height: 1.1;
    color: #2A303C;

    @media screen and (max-width: 1200px) {
      font-size: 51px;
    }

    @media screen and (max-width: 800px) {
      font-size: 39px;
    }
  }
}
