.covid-chapter {
  --local-em-bg-color: #EACFB6;
  --local-chapter-padding-bottom: 80px;
  --local-content-padding: 80px;
  --local-elements-margin-bottom: 56px;
  --local-elements-side-offset: 64px;

  @media screen and (max-width: 1280px) {
    --local-content-padding: 64px;
    --local-elements-margin-bottom: 40px;
    --local-elements-side-offset: 48px;
  }

  @media screen and (max-width: 1200px) {
    --local-content-padding: 48px;
    --local-elements-margin-bottom: 40px;
    --local-elements-side-offset: 40px;
  }

  @media screen and (max-width: 1120px) {
    --local-content-padding: 32px;
    --local-elements-margin-bottom: 40px;
    --local-elements-side-offset: 32px;
  }

  @media screen and (max-width: 1024px) {
    --local-content-padding: 16px;
    --local-elements-margin-bottom: 24px;
    --local-elements-side-offset: 0px;
  }

  display: flex;
  padding-bottom: var(--local-chapter-padding-bottom);
  
  .covid-chapter__images,
  .covid-chapter__content {
    width: 50%;
  }

  .covid-chapter__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .covid-chapter__inner-content {
    width: 100%;
    max-width: 700px;

    @media screen and (max-width: 1024px) {
      max-width: unset;
    }
  }

  @media screen and (max-width: 1024px) {
    .covid-chapter__images {
      display: none;
    }

    .covid-chapter__content {
      width: 100%;
    }

    .covid-chapter__inner-content {
      width: 100%;
    }
  }

  .covid-chapter__images {

    .covid-chapter__main-image {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .covid-chapter__inner-content {
    padding: var(--local-content-padding);

    em {
      font-style: normal;
      background-color: var(--local-em-bg-color);
      box-shadow:
        .125em 0 var(--local-em-bg-color),
        -.125em 0 var(--local-em-bg-color);
    }

    .covid-chapter__supertitle-separator,
    .covid-chapter__kicker-separator,
    .covid-chapter__intro-separator {
      height: 1px;
      width: 30%;
      background-color: #2A303C;
    }

    .covid-chapter__supertitle,
    .covid-chapter__credits {
      color: #383F4E;
      font-family: var(--ff-marr-sans);
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .16em;
      font-weight: 500;
      padding-left: var(--local-elements-side-offset);
    }

    .covid-chapter__supertitle {
      margin-bottom: 20px;
      max-width: 70%;

      @media screen and (max-width: 1024px) {
        max-width: unset;
      }
    }

    .covid-chapter__supertitle-separator {
      margin-bottom: var(--local-elements-margin-bottom);
    }

    .covid-chapter__kicker {
      margin-bottom: var(--local-elements-margin-bottom);
      color: #383F4E;
      font-family: var(--ff-marr-sans);
      font-size: 32px;
      line-height: 1.1;
      font-weight: 900;
      max-width: 70%;

      @media screen and (max-width: 1200px) {
        font-size: 28px;
      }

      @media screen and (max-width: 1024px) {
        max-width: unset;
      }

      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
    }

    .covid-chapter__kicker-separator {
      display: none;
    }

    .covid-chapter__main-image {
      display: none;
      width: calc(100% + 2 * var(--local-content-padding));
      transform: translateX(calc(-1 * var(--local-content-padding)));
      margin-bottom: var(--local-elements-margin-bottom);

      @media screen and (max-width: 1024px) {
        display: block;
      }
    }

    .covid-chapter__credits {
      margin-bottom: var(--local-elements-margin-bottom);
      max-width: 70%;

      @media screen and (max-width: 1024px) {
        max-width: unset;
      }
    }

    .covid-chapter__intro {
      color: #383F4E;
      font-family: var(--ff-marr-sans);
      font-size: 18px;
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: var(--local-elements-margin-bottom);
      max-width: 70%;

      @media screen and (max-width: 1200px) {
        font-size: 17px;
      }

      @media screen and (max-width: 1024px) {
        max-width: unset;
      }

      @media screen and (max-width: 800px) {
        font-size: 16px;
      }
    }

    .covid-chapter__intro-separator {
      margin-bottom: var(--local-elements-margin-bottom);
    }

    .covid-chapter__article-content {
      color: #383F4E;
      font-family: var(--ff-the-antiqua-b);
      font-size: 18px;
      line-height: 1.5;
      padding-left: var(--local-elements-side-offset);
      padding-right: var(--local-elements-side-offset);

      @media screen and (max-width: 1200px) {
        font-size: 17px;
      }
      
      @media screen and (max-width: 800px) {
        font-size: 16px;
      }

      p {
        margin-bottom: 1em;
      }

      img {
        margin-top: 1em;
        margin-bottom: 1em;
        display: none;
        max-width: 100%;
        width: 100%;

        @media screen and (max-width: 1024px) {
          display: block;
        }
      }
    }
  }
}