/* App root */
.lm-app-wrapper {
  font-size: 1.6rem; /* REM is set to 10px by lemonde.fr */
}

.lm-app-wrapper {
  font-family: 'Times New Roman', Times, serif;
}

.lm-app-wrapper, .lm-app-wrapper * {
  box-sizing: border-box;
}

.lm-app-wrapper,
.lm-app-wrapper h1,
.lm-app-wrapper h2,
.lm-app-wrapper h3,
.lm-app-wrapper h4,
.lm-app-wrapper h5,
.lm-app-wrapper h6,
.lm-app-wrapper p {
  margin: 0;
}
