html, body {
  margin: 0;
  padding: 0;
}

@viewport {
  zoom: 1.0;
  user-zoom: fixed;
}

a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  max-width:100%;
  height:auto;
}
