/* RESET FROM LEMONDE.FR */

@viewport {
  zoom: 1.0;
  user-zoom: fixed;
}

body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
  max-width: 100%;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

img {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

figure {
  line-height: 0;
  margin: 0;
}

textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
  hyphens: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

sup, sub {
  line-height: 0;
}

.multimedia-embed {
  padding: 0 !important;
  border: none !important;
}

.lm-app a {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: unset;
  border: none !important;
}

/* APP STYLES */

.lm-app {
  --vw: 1vw;
  --vh: 1vh;
  
  --ff-the-antiqua-b:       "The-Antiqua-B", Garamond, Times, serif;
  --ff-marr-sans:           "Marr-Sans", Verdana, sans-serif;
  --ff-marr-sans-condensed: "Marr-Sans-Condensed", Verdana, sans-serif;
  --ff-fette-engschrift:    "Fette-Engschrift", Helvetica, Arial, sans-serif;

  --len-rem:                   16px;
  --len-nav-height:            65px; /* Overwritten by /src/wrapper.tsx */
  --len-visible-screen-height: calc(100 * var(--vh) - var(--len-nav-height));
  
  font-family: initial;
  font-size: var(--l-rem);
  line-height: 1.25;
  color: initial;
  position: relative;
}

@media screen and (max-width: 768px) {
  .lm-app {
    --len-nav-height: 59px; /* Overwritten by /src/wrapper.tsx */
  }
}

.lm-app, .lm-app * {
  box-sizing: border-box;
}

