.frag-menu {
  background-color: #FFFFFF;
  padding-bottom: 112px;
}

@media screen and (max-width: 1200px) {
  .frag-menu {
    background-color: #FFFFFF;
    padding-bottom: 96px;
  }
}

/* Close button */
.frag-menu__close-button {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  position: fixed;
  right: 18px;
  top: calc(18px + var(--len-nav-height));
  cursor: pointer;
  z-index: 3;
}

.frag-menu__close-label {
  color: #000000;
  font-family: var(--ff-marr-sans);
  font-weight: 500;
  font-size: 13px;
  flex-shrink: 0;
  margin-right: 12px;
}

.frag-menu__close-icon {
  flex-shrink: 0;
}

.frag-menu__close-icon #background {
  fill: transparent;
}

.frag-menu__close-icon #fill-1 {
  fill: #000000;
}

.frag-menu__close-icon_lg {
  display: block;
  width: 22px;
}

.frag-menu__close-icon_sm {
  display: none;
  width: 16px;
}

@media screen and (max-width: 1200px) {
  .frag-menu__close-button {
    right: 20px;
    top: calc(14px + var(--len-nav-height));
  }

  .frag-menu__close-label {
    display: none;
  }

  .frag-menu__close-icon_lg {
    display: none;
  }
  
  .frag-menu__close-icon_sm {
    display: block;
  }
}

/* About */
.frag-menu__about {
  padding: 72px 40px 112px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F5F6F8;
}

.frag-menu__about-france-map {
  display: none;
  max-width: 200px;
  margin: 0 auto 32px auto;
}

.frag-menu__about-title {
  font-family: var(--ff-the-antiqua-b);
  font-size: 20px;
  line-height: 30px;
  color: #2A303C;
  max-width: 752px;
  margin-bottom: 16px;
  font-weight: 600;
}

.frag-menu__about-content {
  font-family: var(--ff-the-antiqua-b);
  font-size: 20px;
  line-height: 30px;
  color: #464F5F;
  max-width: 752px;
}

@media screen and (max-width: 1200px) {
  .frag-menu__about {
    padding: 32px 16px 80px 16px;
    align-items: center;
    text-align: center;
  }

  .frag-menu__about-france-map {
    display: block;
  }

  .frag-menu__about-title {
    font-size: 17px;
    margin-bottom: 12px;
  }
  
  .frag-menu__about-content {
    font-size: 17px;
    line-height: 26px;
  }
}

/* Filters */
.frag-menu__filters-bar {
  padding: 18px 40px;
  background-color: #FFFFFF;
  position: sticky;
  z-index: 2;
  top: 0;
}

.frag-menu_hide-articles .frag-menu__filters-bar {
  display: none;
}

.frag-menu__filters-incentive {
  font-family: var(--ff-marr-sans);
  font-size: 13px;
  font-weight: 500;
  color: #8B92A1;
}

.frag-menu__filter {
  font-family: var(--ff-marr-sans);
  font-size: 13px;
  font-weight: 600;
  color: #8B92A1;
  cursor: pointer;
  border-bottom-color: rgb(42, 48, 60, 0);
  transition: border-bottom-color 400ms, color 400ms;
}

.frag-menu__filter:hover,
.frag-menu__filter_active {
  color: #2A303C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(42, 48, 60, 1);
}

.frag-menu__filter-separator {
  color: #8B92A1;
  margin: 0 4px;
  font-weight: 400;
  position: relative;
  top: 1px;
}

@media screen and (max-width: 1200px) {
  .frag-menu__filters-bar {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 520px) {
  .frag-menu__filters-bar {
    padding: 12px 12px;
  }
}



/* Lists */
.frag-menu__list {
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin-top: 0;
  padding: 0;
  transition: height 2ms 400ms, opacity 400ms;
}

.frag-menu_hide-articles .frag-menu__list {
  display: none;
}

.frag-menu__list_active {
  opacity: 1;
  height: unset;
  margin-top: 64px;
  padding: 0 40px;
  transition: height 2ms, opacity 400ms 2ms;
}

.frag-menu__list-item {
  margin-bottom: 36px;
}

.frag-menu__list-item-title {
  font-family: var(--ff-marr-sans);
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #2A303C;
  padding: 24px 0;
  border-bottom: 1px solid #E8EAEE;
}

.frag-menu__list-sub-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frag-menu__list-sub-item {
  width: calc(50% - 20px);
  display: flex;
  align-items: flex-start;
  padding: 16px 0;
  border-bottom: 1px solid #E8EAEE;
  cursor: pointer;
}

.frag-menu__list-sub-item-image {
  flex-shrink: 0;
  width: 62px;
  height: 62px;
  border-radius: 2px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 24px;
}

.frag-menu__list-sub-item-label {
  font-family: var(--ff-marr-sans-condensed);
  font-size: 12px;
  line-height: 22px;
  letter-spacing: calc(1em/12);
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 24px;
}

.frag-menu__list-sub-item-title {
  font-family: var(--ff-the-antiqua-b);
  font-size: 20px;
  line-height: 1.2;
  margin-right: 24px;
  max-width: 560px;
}

@media screen and (max-width: 1200px) {
  .frag-menu__list_active {
    padding: 0 16px;
    margin-top: 24px;
  }

  .frag-menu__list-item {
    margin-bottom: 24px;
  }
  
  .frag-menu__list-item-title {
    font-size: 22px;
    line-height: 30px;
    padding: 16px 0;
  }

  .frag-menu__list-sub-item {
    padding: 12px 0;
    width: 100%;
  }

  .frag-menu__list-sub-item-image {
    margin-right: 20px;
  }

  .frag-menu__list-sub-item-label {
    margin-right: 16px;
  }

  .frag-menu__list-sub-item-title {
    margin-right: 16px;
    font-size: 20px;
    max-width: unset;
  }
}

@media screen and (max-width: 800px) {
  .frag-menu__list-sub-item-title {
    font-size: 16px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 520px) {
  .frag-menu__list-sub-item-label {
    line-height: 1;
    margin-bottom: 8px;
  }

  .frag-menu__list-sub-item-title {
    font-size: 15px;
  }
}
