.dest22-intro {
  background-color: #FFF4E0;
  padding: var(--len-intro-padding);
  padding-bottom: var(--len-intro-padding-bottom);
}

.dest22-intro__inner {
  width: 100%;
  max-width: var(--len-intro-max-width);
  margin: 0 auto;
}
