.covid-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 12px;
  opacity: 1;
  font-family: var(--ff-marr-sans);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #FCFCFD;
  text-align: center;
  transition: opacity 600ms 100ms;

  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }

  @media screen and (max-width: 800px) {
    font-size: 15px;
  }

  p {
    margin-bottom: 1em;
  }

  &.covid-intro_inactive {
    opacity: 0;
    transition: opacity 600ms;
  }
}