.mondial-team-nav {
  color: #fff;
  margin-top: 12px;
  display: block;

  &__header {
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
    margin-bottom: 4px;

    .mondial-flag {
      margin-right: 9px;

      img {
        width: 26px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    transition: opacity 200ms;
  }

  &:hover {
    .mondial-team-nav__title {
      opacity: 0.6;
    }
  }
}