.lm-article-header {
  position: relative;
  padding: 4px;
  display: inline-block;

  .lm-article-header__link {
    display: inline-block;
  }

  .lm-article-header__logo {
    position: relative;
    display: block;
    height: 32px;

    @media screen and (max-width: 1200px) {
      height: 28px;
    }

    .fill-1 {
      fill: var(--fill-1);
      transition: fill var(--fill-transition-time);
    }

    .fill-2 {
      fill: var(--fill-2);
      transition: fill var(--fill-transition-time);
    }
  }
}
