.verbatim {
  --img-width: 64px;
  --padding: 24px;
  --side-margin: 16px;
  max-width: 632px;
  width: calc(100% - 2 * var(--side-margin));
  margin: 40px var(--side-margin);
  padding:
    calc(var(--padding) + var(--img-width) / 3)
    var(--padding)
    calc(1.5 * var(--padding))
    var(--padding);
  position: relative;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);

  @media screen and (max-width: 800px) {
    --padding: 16px;
    --img-width: 54px;
  }

  h3 {
    font-family: var(--ff-pixeloid-sans);
    margin-bottom: 8px;
    font-size: 14px;
	  line-height: 1.4;
  }

  p {
    font-family: var(--ff-the-antiqua-b);
    font-style: 18px;
    line-height: 1.5;

    @media screen and (max-width: 800px) {
      font-size: 16px;
    }
  }

  .notabene {
    font-family: var(--ff-pixeloid-sans);
    font-size: 14px;
    opacity: .8;
  }
  
  img {
    position: absolute;
    top: 0;
    left: var(--padding);
    width: var(--img-width);
    height: var(--img-width);
    object-fit: cover;
    border-radius: calc(var(--img-width) / 2);
    transform: translateY(calc(var(--img-width) / -2));
    border: 1px solid var(--border-color);
  }

  .lm-svg {
    position: absolute;
    top: calc(100% - .5px);
    width: 40px;
    
    .bg { fill: transparent; }
    .fill-1 { fill: var(--bg-color); }
    .stroke-1 { stroke: var(--border-color); }
  }
}
