.mondial-sidenote {
  font-family: var(--ff-giorgio-sans);
  background-color: var(--mondial-main-color);
  color: #fff;
  display: grid;
  cursor: pointer;
  width: 100%;

  >* {
    grid-area: 1 / -1;
  }

  >div:last-child {
    display: grid;
    grid-template-columns: 85px auto 33px;
    align-items: center;
    justify-content: center;
    padding: 24px 16px;
    width: 100%;
    z-index: 2;
  }

  span {
    margin: 0 12px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
    font-size: 20px;
    letter-spacing: calc(0.02 * 20px);
    font-weight: 400;
  }

  &:hover span {
    text-decoration: none;
  }

  .mondial-marker {
    position: relative;
    top: 2px;
  }

  @media screen and (min-width: 400px) {
    .mondial-gradient__background {
      background-size: 200%;
    }
  }

  @media screen and (min-width: 650px) {
    >div:last-child {
      grid-template-columns: 95px auto 33px;
      padding: 30px 20px 32px 20px;
      align-items: flex-end;
    }

    span {
      margin-left: 18px;
      font-size: 30px;
      letter-spacing: calc(0.02 * 30px);
    }

    .mondial-marker {
      top: -3px;
    }
  }
}